[2020-09-27 00:43] russell-taylor opened #1 "Run a molecule through the Molprobity workflow"
Started doing this last week with 3dfr.  Push that all the way through the flow.

[2020-09-27 00:58] russell-taylor commented on #1
Workflow:
- Fetched the molecule from the PDB and saw its preview
- Added hydrogens, using the default flipping version and an electron-cloud bond length.
- Analyzed all-atom contacts and geometry.  Kept the default parameters.  It ran a number of jobs and gave options for previewing all of them and PDF for one.
- Looked at the outputs, two in NGL and the others were text files.  Looked at the mul

[2020-09-27 00:58] #1 closed

[2020-09-29 12:52] russell-taylor opened #2 "Become familiar with running Molprobity scripts"
https://github.com/rlabduke/MolProbity/blob/master/test/simple_molprobity.sh

Shows most of the calls Molprobity does during a typical run

[2020-09-29 12:58] russell-taylor opened #3 "Complete and approve list of tools to include in the project scope"
Check the "Tools to include" section of the "Molprobity++ Planning" document to make sure all tools we are planning to port are listed.

[2020-09-29 14:10] vbchen commented on #3
In my mind, reduce and probe are far and away the highest priorities, and suitename is good one for you to get started on.  Those three would benefit the most from your expertise.  Most of the other tools in that list probably do need some work, but there's overlapping responsibilities on most of those.  The kinemage viewing tools, for example, I feel like is my responsibility, and a lot of the ex

[2020-09-29 15:08] prisant commented on #3
Concur with VBC's summary comment. Michael

On Tue, Sep 29, 2020, 10:11 AM vbchen <notifications@github.com> wrote:

[2020-09-29 17:52] russell-taylor commented on #3
Roger that, thanks!

[2020-09-29 17:52] #3 closed

[2020-09-29 18:00] russell-taylor opened #4 "See Vincent's test program as an example of how to interact with the model/pdb hierarchy in cctbx."

[2020-09-29 18:51] russell-taylor commented on #2
Running the script from the command line produces a set of errors indicating that a large number of phenix.*, mmtbx, and other executables (prekin, for example) cannot be found.  It is looking for Prekin in a bin directory alongside the test/ directory inside Molprobity.

Running `sh install_via_bootstrap.sh` (because the script is not executable) in the Molprobity top-level directory produced a c

[2020-09-29 21:01] russell-taylor commented on #2
The build made a prekin_64 and a prekin_32 but the script is looking for prekin.  Making a link in the bin/linux directory fixes this.

It also tries to run a "setpaths.sh" script from build which only exists in the upper directory, not within molprobity.  Making the file executable and running the script from the source-code test directory rather than the molprobity subdirectory let it run to com

[2020-09-29 21:15] russell-taylor commented on #2
The input file I tried had not suites, so it got no relevant output from suitename but everything completed without errors.

[2020-10-01 15:41] russell-taylor opened #5 "Make it possible to run Reduce and have it only do the initial Hydrogen placements"
This will enable comparison between its output and cctbx placement.

[2020-10-01 15:42] russell-taylor opened #6 "Reduce incorporation into cctbx"

[2020-10-01 15:47] russell-taylor opened #7 "Split Reduce into a library and a program that links against the library"
This will ensure that all of the classes, methods, and functions are pulled into the library so that we can move this into a DLL/Python structure later.  It will let us verify that the refactoring still produces the same results before doing the wrapping.

[2020-10-01 15:51] russell-taylor opened #8 "Produce a Python-callable version of the Reduce library"
Enabling building a DLL version of the Reduce library and verify that it works on all architectures with the C++ main program.

[2020-10-01 15:57] russell-taylor opened #9 "Wrap Reduce in Python using the cctbx template program"
Wrap the DLL in Python code that derives from the cctbx template program.
Rather than calling the program as an executable, implement a new Python class.
Include the existing command-line arguments.

[2020-10-01 15:59] russell-taylor opened #10 "Upgrade Reduce"

[2020-10-01 16:00] russell-taylor opened #11 "Rewrite Reduce internal functions in Python"

[2020-10-01 16:55] #2 closed

[2020-10-01 17:03] russell-taylor opened #12 "Replace graph parsing in Reduce"
Use an existing library rather than implementing this within Reduce.

[2020-10-01 17:06] russell-taylor opened #13 "Remove Reduce options known to be unstable"

[2020-10-01 17:43] russell-taylor opened #14 "Make Reduce not operate on non-aromatic Methyl groups (actually, only skip CH3 ones)"
Prevent Reduce from attempting to optimize Methyl groups.

(It is not clear whether this is a new test that must be added to its inputs or a command-line option that should be turned off.)

[2020-10-01 17:47] russell-taylor commented on #9
Note from Pavel on email:

Also (and this is not explicitly mentioned) I think the new code should be based on the cctbx/mmtbx stub that we currently have because that will make it trivial to:
- make the code aware of geometry of ligands and standard items from Monomer Library and GeoStd, so that it is  consistent with other Phenix tools;
- handle symmetry (interactions between symmetry copies, at

[2020-10-01 17:50] russell-taylor commented on #9
Dorothee commented on email: I think that ideally, the H bond network optimization would be a separate module that could be called, for example on a higher level for a model object, such as model.optimize_hydrogens_with_reduce(options...). Then it could be used for the new REDUCE in particular, but also separately.

[2020-10-01 18:01] russell-taylor commented on #9
Note from Jane in email: One important use case for Reduce on the website is producing optimized H's (notably, including His flips & protonation) as a starting model for running a simulation.  This means that input coordinates from computational programs (almost never quite in standard PDB format) need to be handled correctly by input, H recognition, H addition, and Reduce.

This could be maintain

[2020-10-01 18:03] russell-taylor opened #15 "Specify and produce regression tests for Reduce hydrogen placement vs. cctbx"
This will be used to test the combination of file reading and hydrogen placement from Reduce with the one from cctbx.  It may later also be used to test other code paths: read using cctbx, place using Reduce; read using Reduce, place using cctbx.

Both a harness and a specification of input files to be tested must be provided.

Ideally, this would operate within the cctbx framework.

[2020-10-01 18:06] russell-taylor commented on #12
Jane call this: the graph-theory "chunking" of each contact network.

[2020-10-01 18:10] russell-taylor opened #16 "Replace all-atom contact analysis in Reduce with code common with Probe"
Separate out the all-atom contact analysis (necessary in the scoring step) by calling the same code used in Probe.

[2020-10-01 19:24] russell-taylor opened #17 "Fix bug in Reduce where it runs past the end of a vector on 3dfr.pdb"
When run in Debug on Windows, the vector class notices that it is reading past the end of the array when it is adding hydrogens.

[2020-10-01 19:28] russell-taylor commented on #17
The code is calling reserve() on vectors when it means resize()

[2020-10-01 19:32] russell-taylor commented on #17
Alternatively, it could use push_back() to add the elements rather than filling them using indices.

[2020-10-01 20:49] russell-taylor commented on #5
Hydrogens are added in genHydrogens(), which is called at the end of analyzeRes() for all entries in the app list of atomPlacementPlan.  This is called by reduceList() as it passes through all residues; it also calls generateWaterPhantomHs(); it also calls fixupHeavyAtomElementType() on each residue block to fix up the hydrogen bonding state of specific carbon and nitrogen atoms.  This is called f

[2020-10-01 20:54] russell-taylor commented on #5
There is a `-noADJust` command-line argument ("do not process any rot or flip adjustments") but it does not prevent all adjustments; forceOrientations(), orientSingles(), etc. are called.

**Note:** There does not appear to be a way to run the program without modifying the hydrogens; they are either added or removed but there is not a way to leave them alone.  We'll eventually also want this behav

[2020-10-02 12:13] russell-taylor commented on #14
There is a command-line option to turn on and off the rotation of Methyl groups that is no longer reported on the -help line.  The path forward will be to remove this code path and command-line option.

[2020-10-02 13:28] russell-taylor commented on #9
This will also transition to use the cctbx data structures at least as input an output.

[2020-10-02 13:32] russell-taylor commented on #5
We'll make it an option to deal with the waters separately, enabling it to run sixteen ways, with all combinations of do/don't water and do/don't other (along with the current binary choice of removing hydrogens or not) (along with doing or not doing optimization).

[2020-10-02 13:36] russell-taylor commented on #9
**Note:** There is ongoing discussion about whether the existing input parsing will be retained as an option or whether it will only be possible to use the cctbx readers.    It should be possible to pull out the current file reading as a separate step, but we won't plan to do that unless the decision is made that is it needed to preserve capabilities for existing users with malformed PDB files tha

[2020-10-02 14:38] russell-taylor opened #18 "Produce regression test for Reduce"
Specify:
- A set of input files that are to be tested
- A set of command-line options that are to be tested
- The criteria for pass/fail

Select an approach to run the tests :
- Build a known-good version and the new version, run both, and compare outputs
- Store a set of known-good outputs to compare each new version against

Then build a script or other system that can run the tests on new build

[2020-10-02 15:05] russell-taylor commented on #5
Currently, the `-trim` option causes the code to remove all hydrogens and do no optimization.  It reports how many hydrogens it removed.

[2020-10-02 15:06] russell-taylor commented on #9
Consider how the `-FIX` option will be handled, specifying an orientation file.

[2020-10-02 19:33] vbchen commented on #4
Just wanted to double-check, do you want me to keep working on this testing code or do you want to take it over?

[2020-10-02 21:08] russell-taylor commented on #4
That's a decision for Dave and Jane.  I figured we'd talk about it at the next meeting.  One of the topics is how we do comparisons (exact, "close"), which this will make an excellent case study for...

[2020-10-02 21:49] russell-taylor commented on #9
From Dorothee on email regarding a harness program to run Reduce:

Yes, all is there. For testing, we could add the optimize-H call in the wrapper. Below the relevant code inÂ modules/phenix/phenix/programs/hydrogenate.py:

[code]

[2020-10-07 12:29] russell-taylor opened #19 "Support crystal-contact interactions"
In order to support crystal-contact interactions, the entire contact networks need to be expanded all the way into neighboring molecules, not just the first contact for initial H placements, and that information, or those atoms, passed to Reduce.  (Jack Snoeyink tried to implement that in an elegant way, but it failed;  more recently, Michael has struggled with that problem and could advise). It w

[2020-10-07 13:20] russell-taylor commented on #5
See whether NOOPT needs to set other flags to avoid flips and other behaviors during Hydrogen placement.

[2020-10-07 14:22] russell-taylor commented on #5
New arguments in place.  Need to test whether we get the same results for -trim and default options as we did before.  Then test whether the new options are behaving as expected.

[2020-10-07 16:09] russell-taylor commented on #5
Running on 3dhr.pdb: Original Reduce with -TRIM:
- Adds a SER MOD comment telling what Reduce did
- Replaces the number 10 in a SOURCE line with the number 0
- replaces the number in a bunch of SITE lines with ***
- removes a MASTER line from the original file.
Running with no arguments does all of the above plus:
- Adds a large number of hydrogens with a variety of names

It does not seem to adju

[2020-10-07 16:12] russell-taylor commented on #5
Running the new version with the same arguments produces byte-for-byte the same outputs as the original version.

[2020-10-07 16:36] russell-taylor commented on #5
Running the new version with the five individual arguments rather than the single -TRIM argument caused differences in the USER MOD behavior involving a missing line break.

Modified the sense of the command-line arguments so that they set things properly.  Modified the  comment-producing code so that it always adds an endline.

[2020-10-07 17:51] russell-taylor commented on #5
This change got the two cases to work the same.

[2020-10-07 18:11] russell-taylor commented on #5
Ran the same tests on 3c3z_half.pdb and 3cp5_half.pdb files from the Richardsons to make sure they behaved the same. They do, getting the same answers for TRIM, FLIP, and no arguments.

[2020-10-07 18:11] russell-taylor commented on #5
Comparing the new code with no arguments against -NOOPT produces different results:
- Same number of additions in both cases
- 197 adjustments made with no arguments, 0 for NOOPT
- Slight differences in the positions of added hydrogens

This seems to be behaving as expected.

[2020-10-07 18:16] russell-taylor commented on #5
Adding the two DROP arguments compared to running with no arguments:
- Produced the same output except for the first USER MOD line
- It had an extra "removed 0 hydrogens (0 hets)" clause in it, which is expected because both drop and opt were run

This seems to be behaving as expected.

[2020-10-07 18:24] russell-taylor commented on #5
Running with -NO_ADD_WATER_HYDROGENS -NOOPT compared to just -NOOPT got the same results.  It looks like Reduce never puts the hydrogens on the waters in the output file, so this is as expected.

Running with -NO_ADD_OTHER_HYDROGENS -NOOPT compared to just -NOOPT got 0 added hydrogens rather than 9120.  This is as expected.

It looks like

[2020-10-07 18:25] russell-taylor commented on #5
Running with -NO_ADD_WATER_HYDROGENS compared to just no arguments resulted in the same header output and differences in locations for a number of Hydrogens on individual atoms (around 10).  This seems reasonable.

[2020-10-08 10:07] russell-taylor opened #20 "Merge pull requests for Reduce"
There are several pending pull requests to the rlabduke repository that appear to be helpful and should be merged.

[2020-10-08 10:42] russell-taylor commented on #17
Merged into ReliaSolve master, pull requested into rlabduke master.

[2020-10-08 10:43] russell-taylor commented on #5
Merged into ReliaSolve master, pull requested into rlabduke master.

[2020-10-08 11:12] russell-taylor commented on #9
Note from Jane in email: In our lab meeting, discussion uncovered/reminded us that the PDB/CIF parser in cctbx analyzes the input file more thoroughly than our input parser, and some of the more complex cases treated in Reduce's optimization step may in cctbx be part of translation into the model object rather than included in the H-add cctbx stub.

[2020-10-10 17:54] russell-taylor commented on #7
This will include teasing apart the portions of the code that load the molecule from those that place hydrogen so that there is a clean separation of concerns and the loading functions don't require parameters telling them about how to handle hydrogens.

[2020-10-10 18:33] russell-taylor commented on #7
parseCommandLine() is going to be a problem because there are a number of file-global variables in reduce.cpp that are used to control the behavior of functions in that file and they are set in parseCommandLine.  For now, we'll move those into extern symbols within reduce.cpp and move the command-line parsing function into main.cpp.

[2020-10-10 18:56] russell-taylor commented on #7
Initial split being done in CMake.  Will also need to be done in SCons.

[2020-10-10 19:34] russell-taylor commented on #7
See README_functions for descriptions of what some of the functions do.

[2020-10-10 20:17] russell-taylor commented on #7
There is some complicated code to determine which model(s) to process from a PDB file.  In the cases of reading the PDB file from standard input or in the case of using the an input file name and the -STRING command-line argument, it only ever processes the file once.  In the case of an input file name being specified and no -STRING command-line argument, it repeatedly processes the file some numb

[2020-10-10 20:52] russell-taylor commented on #7
The records output with each model contain the whole PDB file header and tail except the contents from other models.  These extra fields are stripped off during printing for all but the first model.

The leftover stuff between models and at the end of the file after all models ("END", for example) is printed in another final pass with model set to 0.

[2020-10-10 21:02] russell-taylor commented on #7
Modify the code to always read all models, and restore the ability to read the PDB file from standard input.

[2020-10-12 18:24] russell-taylor commented on #7
It now reads all models whether reading from standard input, a string, or a file name.

[2020-10-12 19:48] russell-taylor opened #21 "Reduce has its own copy of sprintf in pdb_sprintf.cpp"

[2020-10-14 12:51] russell-taylor commented on #9
Current version does each separately from the PDB file and then reassembled the PDB file.  In Phenix, presumably we pull the models out one at a time and hand them to reduce and then decide how we want to save them.

How to retrofit that to the current approach, where we get a single PDB file out with each Model handled independently?

[2020-10-14 12:54] russell-taylor commented on #4
Email from Vincent: It makes use of a concept in cctbx known as bond_proxies, which contains all the information about bond lengths of a model.  One of the first things I thought to test for was to make sure the lengths of hydrogens from cctbx and the lengths of hydrogens generated in reduce are the same.  Basically it uses the bond_proxies to get those lengths for the different models and compare

[2020-10-14 13:05] russell-taylor commented on #9
Email from Dorothee:

I moved the hydrogenate code so that it resides now entirely in cctbx_project.
After updating, you should be able to run the hydrogenate tool as follows (run libtbx.refresh if you don't use bootstrap.py):
mmtbx.hydrogenate.py my_model.pdb <options>

The code is in:
modules/cctbx_project/mmtbx/hydrogens/reduce.py
modules/cctbx_project/mmtbx/programs/hydrogenate.py

[2020-10-14 15:44] russell-taylor commented on #19
cctbx has support for symmetry operations.

[2020-10-14 15:47] russell-taylor commented on #12
It may be possible to identify the cliques using the cctbx Model class, perhaps using smart queries.

[2020-10-14 15:49] russell-taylor commented on #15
What does "the same" mean?
- "IsSimilar" function is available in the hierarchy class that might be useful
- phenix.comparepdbs (or similart) with a selection gives you RMS difference on two models
    - You can select only the hydrogen atoms of a molecule, or a hierarchy
- Can also step through the residues and see which ones are the same

[2020-10-14 19:19] russell-taylor commented on #15
Pushed this specification back to the team, providing input on the large-scale changes seen between the two programs.

[2020-10-19 19:12] russell-taylor opened #22 "Fix probe help and behavior"
Email from Jane:

The help says that selection patterns include DNA and RNA.  However, it turn out that either of those invokes selecting them both -- that is, it's really a selection for nucleic acids.  That's probably OK, but the help needs to be clear, which is not easy to manage.

Also Probe has two ways to select a 3-character residue code.  Apparently just the 3 characters onnly works for am

[2020-10-22 18:59] russell-taylor opened #23 "Add ion interactions to Probe score types"
There is an old probe score that has weighted interactions by Hydrogen types
                They want to add another type as well (ion interactions)

[2020-10-22 19:01] russell-taylor opened #24 "Remove command-line option from Reduce to rotate methyl groups"
It has already been removed from help.  If they give that option anyway, have it spit out a message that this almost always breaks thinks that stop running.  Tell them to contact the Molprobity team if they want it turned back on.

[2020-10-22 19:55] russell-taylor commented on #24
The help already says that it is not recommended; that was done when the default was changed from do to do not.

[2020-10-22 19:55] #24 closed

[2020-10-22 19:58] russell-taylor opened #25 "See open issues in rlabduke/reduce project"

[2020-10-23 13:54] russell-taylor opened #26 "Describe what Reduce is currently doing"

[2020-10-23 13:54] russell-taylor commented on #26
This is being documented at https://docs.google.com/document/d/1wfmc8Q0s-jK4NnURDiJzc4FDtDidDnySbCPl_-N6LzQ/edit?pli=1#heading=h.lvn8x9l509y7

[2020-10-26 17:57] russell-taylor opened #27 "Reduce has the wrong handedness for H numbers on methyls"
Jane found this when comparing the 4fc1 crambin neutron structure where the heavy atoms included are the same for both

[2020-10-26 21:01] russell-taylor opened #28 "Reduce should print a warning when it finds a ligand that it does not recognize"

[2020-10-26 21:15] russell-taylor opened #29 "One of the hydrogens on a HEM methyl group should be perpendicular to the ring"
It may be that this happens during optimization, in which case it is okay.

Jane is running a test of this to see whether it does indeed get fixed in optimization.

[2020-10-26 21:15] russell-taylor commented on #29
It should happen for every methyl on the side of an aromatic ring.

[2020-10-26 21:22] russell-taylor commented on #29
This does indeed get fixed in the optimize step.

[2020-10-26 21:22] #29 closed

[2020-10-29 17:53] russell-taylor commented on #28
It already does this, sending to standard error in analyzeRes().

[2020-10-29 17:53] #28 closed

[2020-10-29 20:28] russell-taylor commented on #5
Merged into rlabduke master

[2020-10-29 20:28] #5 closed

[2020-10-29 20:28] russell-taylor commented on #17
Merged into rlabduke master

[2020-10-29 20:28] #17 closed

[2020-10-29 20:29] russell-taylor commented on #20
Merged into rlabduke and reliasolve master.

[2020-10-29 20:29] #20 closed

[2020-10-30 19:15] russell-taylor commented on #18
Started a regression-test script in https://github.com/ReliaSolve/reduce_regression that builds the original version and the master version (or two versions that you specify) and then runs them against a set of test files to verify that they produce the same outputs.

The test files include some hydrogen-placement tests and a file that caused a crash in a later version of Reduce.

[2020-11-03 14:33] russell-taylor commented on #15
Make a script to compare between versions of Reduce to enable regression testing as we make changes in the original repository for bug fixes.

Added a number of molecules to test against, and tests with both standard command-line options and with -TRIM.

[2020-11-03 14:34] russell-taylor commented on #18
Added a number of molecules to test against, and tests with both standard command-line options and with -TRIM.

[2020-11-05 19:58] russell-taylor commented on #18
Try something big like 7k00

[2020-11-05 20:22] russell-taylor commented on #18
Script generated that compiles and runs two specified versions (defaults to master and the version before I started modifying the code) against all files in a test directory.  Files include DNA, RNA, large structure, and structure that caused a crash on an early modification.

[2020-11-05 20:22] #18 closed

[2020-11-05 20:22] russell-taylor commented on #18
This is in the reduce_regression repository in the ReliaSolve organization on Github.

[2020-11-06 13:56] russell-taylor opened #30 "Run static code analysis on Reduce and fix resulting issues"

[2020-11-06 14:35] russell-taylor opened #31 "Are multiple placements for an AtomPlacementPlan valid?"
It is possible for Reduce to place multiple hydrogens for one atom placement plan because it checks each alternative for a residue sequentially and inserts for each that is a success.

Are these multiple placements valid, or is this a bug?

Here are the multiple placements for the pdb5a46.ent molecule (each pair of 0/1 is a multiple placement):
ATOM      0  H  AMET B 537      19.988   6.774   7.01

[2020-11-06 18:46] chrissciwilliams commented on #31
Each alternate position of a heavy atom should have its own set of
hydrogens attached to it.  Alternates can be quite distant from each other
in space, and a single H atom cannot accurately match the geometry of both
versions.  Placing H on all alternate versions of a residue is important to
allow us to perform complete validation of the alternates.

This looks like correct behavior to me.

-Chris

[2020-11-06 19:35] russell-taylor commented on #31
Thanks. Is that true even though the hydrogens
are placed within around 0.1 angstrom of each other?

At 01:46 PM 11/6/2020, chrissciwilliams wrote:

---
Russell M. Taylor II,
Ph.D.   russ@reliasolve.com
taylor@redbudlabs.com  rtaylor@aqueti.com russ@outloveracism.org
www.cs.unc.edu/~taylorr

[2020-11-10 16:55] russell-taylor opened #32 "RotAromMethyl::finalize() should also check for valid() atoms"
The change to RotMethyl::finalize() as part of a bug-fix pull request to only apply changes to valid atoms should also be performed in the aromatic-methyl case.

[2020-11-11 16:15] russell-taylor opened #33 "Consider changing invalidation approach in analyzeRes when "N" on non amino acids"
Jane thinks that there may be better approaches to handling this situation.

[2020-11-11 16:16] russell-taylor opened #34 "Run 5a1a for Reduce and Hydrogenate conditions and send result to Jane"

[2020-11-11 16:18] russell-taylor commented on #31
They are valid.  Alternate means alternate configurations for the model, not alternate configurations for the hydrogen placement.

[2020-11-11 16:18] #31 closed

[2020-11-11 18:57] russell-taylor commented on #34
Run and sent via email in a Zip file.  Also uploaded to the Google shared drive.

[2020-11-11 18:57] #34 closed

[2020-11-11 20:00] russell-taylor opened #35 "Early return from genHydrogens()"
The return at https://github.com/rlabduke/reduce/blob/master/reduce_src/reduce.cpp#L2068 should be a continue so that later alternate conformations can be checked.  The adjustability of one conformation should not impact hydrogen placement on another.  The order of appearance of the alternates in the PDB file should not affect which ones are considered.

[2020-11-13 20:46] russell-taylor opened #36 "Speed up neighbor calculation"
The spatial grid is implemented as a multimap and half of the time spent looking up neighbors() is in determining the lower and upper bounds of entries in that map.  If the structure were a 3D grid of vectors, where all atoms in that grid point were in the vector, both of these lookups would be reduced to a single index operation followed by iteration on the resulting vector.

Altogether, the neig

[2020-11-18 18:55] russell-taylor opened #37 "Add regression test of Methyl rotations in Reduce"
Add regression tests for running with Methyl rotations to make sure it still works even though it is deprecated.

[2020-11-18 18:56] russell-taylor opened #38 "Add structures to Reduce regression tests"
These include most of the 200 most-popular ligands (other than polysaccharides).

[code]

[2020-11-18 19:53] russell-taylor commented on #38
Most of these could be downloaded with a script, but one didn't have a PDB file so had to be downloaded as a bundle.

Added them to the files in the list and GZipped all of the files so that they will be smaller in the repository.

Decompress and read them on standard input when running tests.

[2020-11-18 19:53] #38 closed

[2020-11-18 20:27] russell-taylor opened #39 "Why is the CMake-built new version of Reduce so much slower than the Makefile-built old version?"
It is maybe ten times slower.

[2020-11-18 20:37] russell-taylor commented on #39
There are a number of predefined values on the Makefile command line.  Adding them did not make things faster, but presumably makes them more compatible.

[2020-11-18 20:43] russell-taylor commented on #39
Compiling in release rather than debug gets times that are slightly faster than the Makefile version.  Compiling with no build type set (which I would expect to be release with debug info) is once again ten times slower.

[2020-11-18 20:53] russell-taylor commented on #39
Modified the regression test to build in Release mode to get this speedup.

[2020-11-18 20:53] #39 closed

[2020-11-19 19:54] russell-taylor commented on #35
When we run this against a hand-modified model that causes the return to be executed, we only see an iteration for j = 0 inside the loop, but the value of maxalt in this case is also only 1.  This is because the number of conformations is only one.

[2020-11-19 20:20] russell-taylor commented on #35
It is calling return for residue 133, which only has one alternative conformation, so we don't get to see how it would behave with a second residue.

It is calling return twice, once for two successive calls to genHydrogens(), so there must be two placement plans within this residue.  One of them is adjusting ASNDH21 and one is doing ASNHD22, both dealing with atom OD1, so it must be placing two h

[2020-11-19 21:04] russell-taylor commented on #32
Fixed in version 3.6.

[2020-11-19 21:04] #32 closed

[2020-11-20 16:02] russell-taylor opened #40 "Flipkin script should handle 2-character chainIDs"
Comments from Jane while debugging a hung MolProbity run:

It seems very likely that Mike's script for generating flipkins is flaking out on 2-character chainIDs.  Can you tell if it actually did the flips OK and it was just the flipkins that failed?

Maybe we should add a test for 2-character chainIDs (and perhaps for upper-vs-lowercase chainIDs) on input, and either provide a way to disambiguate

[2020-11-20 17:10] russell-taylor opened #41 "Reduce seems to claim an abandoned clique search when all default orientations are selected"
When calling orientClique() in a loop, any value <= 0 causes ABANDONED_RC to be set as the global return code.  This probably should only set this for < 0.
- orientClique() returns the return value of SearchClique(), which takes as a parameter a limit on how long a search can take.
- SearchClique() returns 0 in the case where it cannot initialize its movers, -1 in the case where it abandons the op

[2020-11-20 22:37] russell-taylor opened #42 "Consider adding knowledge of charge for better placement in Reduce in the future"
Oxygens can have different charge state (0, +1, +2) for example.

[2020-11-24 13:55] russell-taylor commented on #36
When run in RelWithDebInfo rather than Debug, the fraction of the time taken up with the upper and lower bound determination drops to 17% of the runtime.

[2020-11-24 15:52] russell-taylor commented on #7
The SConscript file has been modified to enable library to build and link, so once we pass the regression tests we should be able to merge it back into master.

The library branch test file 2nd5_nmr_2models_FKBP12.pdb.gz with -TRIM fails to compare to the reference commit.  The master branch works.

[2020-11-24 16:01] russell-taylor commented on #7
The library branch removed hydrogens from both models whereas the original only removed them from the first because it was run feeding the file in through standard input.  This was an intentional change in the library version.

[2020-11-24 16:12] russell-taylor commented on #7
When reading the files from disk, the library version passes the regression tests.

[2020-11-24 16:15] russell-taylor commented on #7
Making a merge branch to merge the library changes into master.

[2020-11-24 16:28] russell-taylor commented on #7
Need to modify Makefile to be able to build this code, including the new main.cpp.

[2020-11-24 16:31] russell-taylor commented on #26
Asked whether it is in a state where we're ready to discuss it yet or whether more expansion is needed first.

[2020-11-24 17:18] russell-taylor commented on #7
Removed C++-specific code so that it continues to compile on the mac.  Ran regression tests on Mac and Linux.  Compiles and runs on Windows.  Looks like it is ready to merge.

[2020-11-24 18:23] russell-taylor commented on #7
Pull requested into rlabduke/master.

[2020-11-24 18:42] russell-taylor opened #43 "Remove unused source files from Reduce"
Several classes have been replaced but are still in the source code and are still built by Makefile.

[2020-11-24 18:52] #43 closed

[2020-11-24 20:04] russell-taylor commented on #26
Potentially to be expanded before discussion:
- SearchClique() finds the optimal set of rotations for all Movers in a clique
- insertRot() and insertAromMethylRot() add Movers to a residue.
- insertFlip() determines alternate conformations and inserts flip memo Movers (one version for residue block, one for PDBRec).
- FlipMemo.cpp additional tables besides _pointName, _dockAtomIndex, and _resFlip.

[2020-11-25 12:50] russell-taylor opened #44 "Update Reduce README's and add LICENSE files"

[2020-11-25 13:03] russell-taylor commented on #44
Make a recommendation for the license going forwards based on current plan to keep common code base and add parts to cctbx.

[2020-11-25 13:58] russell-taylor commented on #26
Expand the following:
- The behavior of compile-time options (other than the defaults)
- The behavior of command-line options (other than the defaults)
- manageMetals() analyzes metallic atoms to determine which need to be excluded during clique determination.
- Hydrogen placement plan for NTERM residues
- okToPlaceHydHere() determines if it is okay to place a hydrogen on the specified atom in the

[2020-11-25 14:12] russell-taylor commented on #9
mmCIF has utility routines inside Phenix to convert to and from PDB
- They are very different formats
- Standard PDB is too small; hybrid36 system same until more than 9999 residue numbers or 9999 atoms or too many chainIDs
    - Starts with a in first position, like a000 and so forth, then b000 and forth.
    - Two-character chain IDs
    - Phenix and Molprobity can both read this

[2020-11-27 18:19] #7 closed

[2020-12-03 20:04] russell-taylor commented on #35
Got a test file from Jane and was able to verify that this exercised the bug.  Fixed it and released version 3.8 with the fix.  Added this to the regression tests.

[2020-12-03 20:04] #35 closed

[2020-12-03 20:06] russell-taylor commented on #8
Make this work initially with the SCons build so that we can start the port to using Python to call the routines.

[2020-12-03 20:21] russell-taylor commented on #41
There is no code path for the orientation initialization that actually returns false; all derived classes return true in all cases.  For completeness, we'll say that a search that could not be initialized was abandoned and return -1 in that case as well.

[2020-12-03 20:30] russell-taylor commented on #41
Fixed in version 3.9.

[2020-12-03 20:30] #41 closed

[2020-12-03 20:35] russell-taylor commented on #8
CCTBX uses Boost::Python to wrap their structures.

[2020-12-04 14:49] russell-taylor commented on #8
We can wrap the global variables in get() and set() functions in Python, but we can't make Properties for them because they are not part of a class definition.

[2020-12-04 19:45] russell-taylor commented on #8
Ran into trouble trying to wrap a function that returns a list of lists of raw pointers.  This is inputModels() which is needed to get the PDB records from the input string, and it has to pass that list of lists elsewhere.

[2020-12-04 20:36] russell-taylor commented on #8
Converting the raw pointers to shared_ptr types.

[2020-12-04 20:47] russell-taylor commented on #8
ToDo:
- Run regression tests
    - If fails, check the RotAAromMethyl and others swapping from PDBrec to shared_ptr for _heavyAtom.
- Check for memory leaks

[2020-12-04 21:22] russell-taylor opened #45 "Consider replacing the pointer in the middle of _bnded in RotDonor.h"
To provide safer cleanup.

[2020-12-04 22:03] russell-taylor commented on #8
There are more memory leaks in this version than the original.

[2020-12-04 22:27] russell-taylor commented on #8
Commit 12a26d2e29e7906bc9dd0601a752935c6b262735 has some new/delete replaced with shared_ptr for additional objects.  It was a little better with leak check.

[2020-12-04 22:32] russell-taylor commented on #8
Commit e8d93d0fc7449c76a6abc29f003daf47aedc80df had an additional new/delete replaced.  It did not have anything definitely lost, which is better than the master branch.

[2020-12-04 22:32] russell-taylor commented on #45
Done.

[2020-12-04 22:32] #45 closed

[2020-12-04 22:34] russell-taylor opened #46 "Consider replacing all new/delete with smart pointers"

[2020-12-04 22:41] russell-taylor commented on #8
There is still no to_python (by-value) converter for the C++ type returned by inputModels().

[2020-12-05 00:02] russell-taylor commented on #8
We can define `class_< std::list< std::list< std::shared_ptr<PDBrec> > > >("list_list_ptr_PDBrec");` to be able to return our list of models, but we can't pull out an individual model because there is no way to iterate on a list.

Boost.Python does not wrap std::lists to Python lists, but it does wrap vectors with vector_indexing_suite.  This should let us pull out the individual models (presuming

[2020-12-05 00:18] russell-taylor commented on #8
Trying to convert to vector of vectors, but this involves switching from push_front to push_back.  Need to regression test and speed test this before merging.

[2020-12-05 00:40] russell-taylor commented on #8
How to handle the startAtoms iterator in the scanAndGroupRecords() method?

[2020-12-05 23:56] russell-taylor commented on #8
The CTab copy and assignment operators are private, preventing us from copying them inside the Python script...

[2020-12-06 00:16] russell-taylor commented on #8
We need to handle the fact that the AtomPositions constructor takes an ostream that is then used to print from within its methods.  We may want to consider making this a string that it writes to, but then the progress messages will stop being made while it is running.  We could presumably send it an output stringstream when we call it from Python, though...

[2020-12-11 15:16] russell-taylor commented on #8
We're exceeding the default BOOST_PYTHON_MAX_ARITY value of 15 by having more than 15 arguments to the AtomPositions constructor.  Need to set this higher.  Adding `#define BOOST_PYTHON_MAX_ARITY 20` before including boost/python headers fixed this issue.

[2020-12-14 19:25] russell-taylor commented on #8
We can now run a python program that behaves the same way the main.cpp program does when given only the argument that is the name of the input file.

[2020-12-17 19:50] russell-taylor opened #47 "Determine license for new software going forward"
Selection of license(s), Apache 2.0 okay going forward?
- They want attribution, which Apache does not have
- Want to add the no sneaky patent language
- Also want "nobody gets sued"
- Also want distribution in binaries to include the copyright (maybe)
- Commercial use is fine

First step is to produce a proposed one, hopefully selecting from among existing ones.  Otherwise, bring in relevant clau

[2020-12-17 19:50] russell-taylor commented on #37
We're getting rid of the rotations, so this is not needed.

[2020-12-17 19:50] #37 closed

[2020-12-17 19:53] russell-taylor opened #48 "Remove methyl rotations"
Leave aromatic methyl rotations, but remove the other rotations completely from the code base.

[2020-12-17 19:54] russell-taylor commented on #14
Leave the Aromatic Methyl class and its rotation/flip.

[2020-12-17 19:55] russell-taylor commented on #48
Duplicate of https://github.com/ReliaSolve/Molprobity2/issues/14

[2020-12-17 19:58] russell-taylor commented on #8
It turns out that cctbx uses a different approach to wrapping besides using the BOOST_PYTHON_MODULE() macro.  Email from Billy:

For Boost, we import Python extensions with the "import_ext" function in cctbx_project/boost_adaptbx/boost/python.py. The relevant lines from cctbx/crystal/__init__.py is copied below

[code]

We import the "import_ext" function and use that function to load "cctbx_cryst

[2020-12-17 20:51] russell-taylor commented on #8
If we change the name of the thing that is imported in the macro to cctbx_reduce_ext and add an __init__.py that has the following in it:

[code]

and change the reduce.py script to import cctbx_reduce_ext as reduce and then modify it to use Python 3, we can run `python reduce.py ~/src/reduce_regression/outputs/103M.pdb.gz.orig` using the Python in our path set by CCTBX and it works.

[2020-12-17 20:56] russell-taylor commented on #8
It also appears to work when we don't have the __init__.py file in that directory, so long as we import cctbx_reduce_ext within our Python script.

[2020-12-17 21:02] russell-taylor commented on #8
Asking Billy whether it is okay to leave it that way.  The boost-python-cctbx branch of cctbx_project should build this way out of the box.

[2020-12-21 18:28] russell-taylor commented on #47
Apache 2.0 has:
- Users must provide copy of the license
- No sneaky patents
- No warranty, limited liability

Reduce has:
(1) No warranty, copyright UC, must duplicate license
(2) No warranty, modified versions must be available for free (also SuiteName, Probe)

MolProbity (says it was derived from BSD and Apache) has:
- Derivative source code must provide copy of the license
- Software or end-us

[2020-12-21 18:51] russell-taylor commented on #47
Proposed combined license:
[LICENSE.txt](https://github.com/ReliaSolve/Molprobity2/files/5725960/LICENSE.txt)

[2020-12-21 22:02] russell-taylor commented on #8
Trouble building with Boost Python on mac due to get_pointer may be resolved by https://stackoverflow.com/questions/14355441/using-custom-smart-pointers-in-boost-python

[2020-12-22 17:55] russell-taylor opened #49 "Get CCTBX compiling on my laptop using SCons/Visual Studio"
Make any changes needed to get the code to compile in the Visual Studio 2019 Developer Command Prompt.  Build using Python and the bootstrap.py script.

[2020-12-22 18:06] russell-taylor commented on #49
It looks like there is a mismatch between limits.h and templates when defining constant expressions at compile time.  Backing off to Visual Studio 2017 to see if it can get past this error.

[2020-12-22 18:20] russell-taylor commented on #49
This is compiler error C3615 in both versions of Visual Studio, described here: https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-2/compiler-error-c3615?view=msvc-160

However, it seems to be triggered by a missing include of limits,h (which can be included by <climits>).  We get an undefined identifier error.  Will try again with <climits> included first.

[2020-12-22 18:37] russell-taylor commented on #49
Adding the command 'build' to the end of the bootstrap.py arguments makes this happen much faster.  Need to update the repository by hand in that case before retrying the build.

[2020-12-22 18:38] russell-taylor commented on #49
Adding include of <climits> is redundant and adding <limits.h> does not help...

[2020-12-23 19:04] russell-taylor commented on #49
Re-ordering the include files so that we avoid the side effect of cbf.h undefining ULLONG_MAX got the master branch to compile on my laptop.

[2020-12-23 19:05] russell-taylor commented on #49
Issued a pull request to master to fix this.

[2020-12-23 19:05] #49 closed

[2020-12-23 19:37] russell-taylor commented on #8
Built on the mac using SCons build within bootstrap.py.  It is working there.

Built on Windows using bootstrap.py but it is not making either cctbx_crystal_ext or cctbx_reduce_ext.  Looking into how to get that to build so that we can test it.

[2020-12-28 19:07] russell-taylor commented on #8
Rebuilt on Windows from scratch and we got cctbcx_crystal_ext (not DLL but other files).

[2020-12-28 19:23] russell-taylor commented on #8
We get a message: `libtbx.scons: implicit dependency scan disabled for directory c:\tmp\cctbx\modules\boost` but cctbx_crystal_ext builds okay.

[2020-12-28 19:37] russell-taylor commented on #8
Removing the if statement guarding the boost python build step did not change this.

Aha!  The indentation was such that we didn't build this when we were on Windows.  We were just supposed to not add flags.

[2020-12-28 19:43] russell-taylor commented on #8
With this fixed, it now constructs a Python-callable reduce on Windows as well.

[2020-12-28 20:34] #8 closed

[2020-12-28 20:49] russell-taylor commented on #47
We're going with Apache2 for SuiteName and for new licenses.

[2020-12-28 20:49] #47 closed

[2020-12-29 13:49] #48 closed

[2020-12-29 13:50] russell-taylor commented on #14
We'll completely remove this ability from the program and get rid of the derived class for it.

[2020-12-30 16:09] russell-taylor opened #50 "Determine modes of operation for cctbx/Reduce"
From Jane: Your notes made me realize that the trim or keep input Hs is more complex than what we discussed.  There are more alternatives, at two stages.
   For H addition:  1) when none, add them; 2) trim, & re-add (current default);  3) keep what's there, add any missing;  4) keep exactly which ones are input.
   For H optimization:  1)  Always optimize when they were newly added; 2) optimize th

[2020-12-30 16:10] russell-taylor commented on #50
From Russ:
        If you agree that the calling user or program can decide whether there were Hydrogens in the structure that is being passed to Hydrogenate/Reduce, then I think all cases can be handled with our existing arguments as follows:
        Addition: 1) (same as 3), 2) -drop -add, 3) -nodrop -add, 4) -nodrop -noadd
        For optimization, we'd need a new command-line option (-optadded

[2020-12-30 19:08] russell-taylor commented on #50
From Jane:
Interesting.  Optimization in general is not done just on isolated Hs or groups, but in entire Hbond networks.  We could accomplish this by defining "fix" for the kept Hs, but considering them during the optimization.  I'm unclear how useful this option would be.  If only polar Hs were present, I'd certainly want to optimize everything, since one could not trust those polars.  If only i

[2020-12-30 19:09] russell-taylor commented on #50
From Russ:
        I think I misunderstood your two first two choices for H optimization: 1)  Always optimize when they were newly added; 2) optimize the kept input Hs.
        I thought that 1 just optimized the added ones and 2 optimized them all, but you must have something different in mind.  If they both optimized all hydrogens, then what is the difference between them?

[2020-12-30 20:37] russell-taylor commented on #14
This also removed the -ROTNH3 and -NOROTNH3 command-line arguments.
This also removed the -ALLMETHYLS command-line argument.
This also removes -NOROTMET and -DOROTMET command-line arguments

Once I stripped out all of that, it failed on regression tests.  For one file examined, it had not rotated MET and LYS residues, which the original program was doing.

[2021-01-04 21:07] russell-taylor commented on #14
It has failures on all basically of the regression tests.
         When I look at 103M, it very much changed the behavior.  It
did not rotation a MET group and a number of LYS groups, all of which
were NH3+.  The hydrogens are all being added, but not optimized for
these residues.

[2021-01-04 21:07] russell-taylor commented on #14
From Jane:
The non-rotation should only apply to CH3, not to NH3.  We did indeed decide a number of years ago that Met CH3 methyls also should NOT be rotated.  Aromatic methyls are a 2-fold choice rather than an actual rotation, and I'm not sure where that fits in the detailed logic.  I presume it's still rotating OH & SH.

[2021-01-04 21:08] russell-taylor commented on #14
Just looking at 103m, indeed the new version did not optimize the N-term NH3 and did not optimize Lys NH3 even when needed (they're often out in solvent, where they are left as staggered), but did correctly optimize a Thr OH.  The heme methyls are placed identically (2 up, 2 down) and presumably correctly.

However, both versions got all the His wrong - with no H on either N (which can only happen

[2021-01-04 21:12] russell-taylor opened #51 "His are incorrect in 103M.pdb"
From Jane: Just looking at 103m, both new and previous versions got all the His wrong - with no H on either N (which can only happen between two metals). Did you run without flips? Maybe there's an existing bug that Reduce doesn't optimize His N protonation unless it's also trying flips? And presumably, then, it must not add either NH in the H-addition step. I don't remember ever seeing those bare

[2021-01-04 21:17] russell-taylor commented on #14
Need to redo, leaving in place the Methyl rotation but only calling it for NH3 and not enabling it for CH3.

[2021-01-04 21:31] russell-taylor commented on #14
Remove OKProcessMetMe, DemandRotAllMethyls and related code, along with the doMethyl parameter to insetRot.

[2021-01-04 21:58] russell-taylor commented on #14
Added in version 4.0.

[2021-01-04 21:58] #14 closed

[2021-01-05 13:05] russell-taylor opened #52 "Phenix.reduce Adding spurious hydrogens"
Dorothee forwarded a message from the PHENIX bug list:

From: Wankowicz, Stephanie <Stephanie.Wankowicz@ucsf.edu>
Date: Mon, Jan 4, 2021 at 11:55 AM
Subject: Phenix.reduce Adding spurious hydrogens
To: bugs@phenix-online.org <bugs@phenix-online.org>

Hello,

I am getting errors when using certain flags with phenix.reduce. I am trying to get hydrogens to be added to PDB 6fm7.pdb.

The following com

[2021-01-05 13:11] chrissciwilliams commented on #52
There is a discrepancy between the chemical components entry/Reduce het
dict (which contain H13 attached to OAD) and the restraint file generated
by Elbow (which does not contain H13).  I'm currently talking with Nigel
about whether this is a group that should be deprotonated (and presumably
charged).  I'll update the het dict accordingly if so.

-Christopher Williams
---Richardson Lab, Duke Unive

[2021-01-05 13:14] russell-taylor commented on #52
From Christopher:

There is a discrepancy between the chemical components entry/Reduce het
dict (which contain H13 attached to OAD) and the restraint file generated
by Elbow (which does not contain H13). I'm currently talking with Nigel
about whether this is a group that should be deprotonated (and presumably
charged). I'll update the het dict accordingly if so.

[2021-01-06 20:24] russell-taylor opened #53 "Get Mage compiling again"
Used to run on Linux, Mac, and Windows.

[2021-01-06 21:36] russell-taylor opened #54 "Reduce should never make covalent bonds to waters"
Have not yet verified that the code exhibits this behavior, but it should never think that there is a covalent bond with a water molecule.

[2021-01-07 14:13] russell-taylor commented on #53
The Windows branch had been abandoned awhile back and indeed no longer compiles.  Linux and Mac are working on the 2021 branch that has been pull requested back into rlabduke/mage master.

[2021-01-07 14:14] russell-taylor commented on #52
Thanks!  Go ahead and close this issue when you resolve it.

[2021-01-07 15:31] russell-taylor commented on #50
Hydrogenate evaluates the model to determine what case we're in:
        1) If the model has no hydrogens, add them and instruct Reduce to optimize
                a) determine whether to use nuclear or electron-cloud distances by model inspection or user parameters
        Otherwise: Neutron, NMR, and super high-resolution are cases where input H may well be kept.  User choices are needed.

[2021-01-07 15:35] russell-taylor commented on #26
Determine Reduce determines where there are covalent bonds.

                        It has to use distances for a number of cases
                        We want to know in general where it checks for covalent bonds
                                Point them at the place in the code where this is being determined
                                Does not add a hydrogen if an atom is bonded, Sulphu

[2021-01-07 15:54] russell-taylor opened #55 "Support running probe from within cctbx to get the scores"
Probe score is different from Clash scores or other things in Molprobity, and is good for running Ligand vs. protein
                It is almost as good as energetics
                Like to be able to run it from within cctbx, at least getting the score
                        You need to say what the two things are: Ligand + "everything else"
                                Chain/residue number

[2021-01-07 15:54] russell-taylor commented on #55
See the document "The Importance of Being Positive" that Jane sent in an email link, which is relevant for both the Probe rewrite and work with the CryoEM challenge.

[2021-01-07 20:58] russell-taylor commented on #54
One place to add this check is to the Mover::impossibleCovalent() method.

[2021-01-08 16:33] russell-taylor commented on #13
Also pare functions that are not being called, like Mover::dropBondedFromBumpingListForPDBrec().

[2021-01-08 19:44] russell-taylor commented on #54
There is a check in okayToPlaceHydrogen in the NH3FLAG case so ensure that the atom being tested is not a water, which may be performing this test.

[2021-01-10 01:57] russell-taylor opened #56 "Check speed of reduce with -FLIP option in the new develop branch compared to the original"
It seems to be much slower, perhaps since we added the shared_ptr approaches (like 2 vs. 5 seconds on 1A0F.pdb).

[2021-01-12 16:54] russell-taylor commented on #56
Doing all of the floating-point number parsing was slowing things down.  Made the new code cache the lines and parse them only as needed.  This reduced the loading time by about a second.

[2021-01-12 16:55] russell-taylor commented on #56
Modified the code to only load and parse the HET database if it ever needs to do a lookup.  Also modified the code to not reduce the list if it is not either adding hydrogens or optimizing.  This makes the new code faster than the old when running with -TRIM.

[2021-01-12 17:12] russell-taylor commented on #56
Fixed in version 4.2.

[2021-01-12 17:12] #56 closed

[2021-01-14 12:40] #53 closed

[2021-01-14 17:00] russell-taylor commented on #9
Looking into differences between running a molecule through reduce in two passes, where the first one adds hydrogens (as Hydrogenate will do) and the second does optimizations but does not add non-water Hydrogens (assumes they are already there).

Version 4.2 did not insert any Movers when it was not adding atoms.  Modified it to do so in version 4.3.

Version 4.3 the 2-step process:
- does not pe

[2021-01-14 17:06] russell-taylor opened #57 "Different outcomes when running Reduce in two phases vs. one phase"
When running 2 steps with a first phase with -NOOPT and a second phase with -FLIP -NO_ADD_OTHER_HYDROGENS; then running a single phase with -FLIP, there are differences in the resulting optimized files.  This was tested on 7k00.

Version 4.3 still has some differences in the 2-step process:

- does not perform some of the flips that the 1-step process does,
- sometimes does not add all of the hydr

[2021-01-14 17:12] russell-taylor commented on #57
We must ignore "USER" lines, which are expected to be different between the two.  We also need to make the "new" and "std" tags at the end of the lines the same between the two runs before we can compare the output files.

[2021-01-14 17:15] russell-taylor opened #58 "Hydrogenate vs. reduce tests are not working for me on some input files"
3c3z_RNA_A-U-C-G-test_RIO-charge_test.pdb is one such file.

[2021-01-14 17:15] russell-taylor commented on #58
Dorothee tried the above file on 1/13/2021 and it worked for her, so I need to rerun and see if it is now working or else try and see what is different between our environments.

[2021-01-14 19:37] russell-taylor commented on #58
The current master version is looking for the elbow module, which comes with phenix.  We'll need to avoid using it or have it pulled into the open-source portion of cctbx to use it going forward.

[2021-01-14 19:54] chrissciwilliams commented on #58
I believe that Elbow is one of the proprietary components of Phenix, so we
should avoid using it.  Nigel Moriarty at Berkeley is the person to talk to
about Elbow and whether there is an open-source version.

-Christopher Williams
---Richardson Lab, Duke University

On Thu, Jan 14, 2021 at 2:37 PM Russell Taylor <notifications@github.com>
wrote:

[2021-01-14 20:00] russell-taylor commented on #58
Asked Dorothee and Nigel whether there is an open-source alternative that we can use.

[2021-01-14 21:48] russell-taylor commented on #57
Tried using Dorothee's run_table_info.py script to load the output files, but it had fatal problems interpreting them, complaining about missing restraints information.  Setting make_restraints=False in the script didn't help.  Removing the call to get_restraints_manager() along with the things that used it also did not help.  It is finding nonbonded energy type symbols on atoms in the file.  Retu

[2021-01-14 22:11] russell-taylor commented on #58
When Dorothee fixed the above problem by moving the import, we are back to the original crash.

According to Nigel, this is a new dependency on the chem_data files that cannot be resolved using environment variables.  They are working on a solution.  In the meantime, I could try putting the chem_data from one of my repositories into the chem_data directory.

[2021-01-15 13:11] russell-taylor commented on #57
Nigel says that we can pass a list of nonstandard atoms with their associated list of restraints to that command to make it work.  I'll look up the alias lists from Reduce so we can put these in place.  We're going to need to do this for our final version in any case.

[2021-01-15 18:42] russell-taylor commented on #57
Dorothee says: Renaming atoms won't help running your script. The problem is not the atom name but that the entity is unknown, i.e. bond lengths, angles, van der waals radii are unknown. You can supply cif files, though, which have this information. Then the script should run.

Give it a try with the attached model (6d62.pdb):
it fails with Sorry if you do
python run_table_info.py 6d62.pdb

It run

[2021-01-15 18:55] russell-taylor commented on #57
Switching to 2w9t.pdb lets me read the model file with sample script, even after I run -FLIP on it, so long as I only read the model and don't go other calls.  Will use this program as a basis for the comparison program for now and hope that we can figure out how to make it read arbitrary files later.

[2021-01-15 21:16] russell-taylor commented on #57
Making a compare_model_files.py script in src/molprobity2 that is able to read in 7k00 and scan through it; so far it never looks for charge or connectivity information.

[2021-01-21 14:07] russell-taylor opened #59 "Consider a remediator for reading old-format PDB files into Reduce and Probe"
The Richardson lab is working on a pre-filtering script that will convert old-format names (DNA names left justified vs. right, etc.) into standard format for processing.

This is currently done within the Reduce tables using aliases.

When we move to the CCTBX parser, we may need to run this pre-filter on any PDB files to fix them up before we operate on them.

This will enable the code to contin

[2021-01-21 14:08] russell-taylor opened #60 "Consider changing Reduce's behavior based on the resolution of the input structure"
Different operations are more effective for structures of different resolutions.

[2021-01-21 14:11] russell-taylor opened #61 "Upgrade Probe"

[2021-01-21 14:11] russell-taylor opened #62 "Probe should do optimal Hydrogen placement on nearby waters during scoring"
Reduce and Probe should use the same algorithm to determine this.

[2021-01-21 20:33] russell-taylor opened #63 "Consider doing internal sums for bumpSubScore and hubScore in atomScore() as doubles"
Then convert to float at the end.

To reduce errors in calculations.

[2021-01-25 18:18] russell-taylor commented on #58
Nigel and Dorothee are looking for a solution to this problem, which involves needing to specify any ligands from the chem_data dictionaries.  Until that is fixed, we'll only be able to run on files without such ligands.  Once we have it working, send Jane a run comparing the 3c3z file listed at the top of this issue.

[2021-01-25 21:17] russell-taylor commented on #57
2w9t had additional hydrogens for the single-stage case and also had different positions for some heavy atoms, presumably where it decided to flip in one case and not in the other.

LYS A 52 added three hydrogens to the same NH3+ group but selected different angles for the two cases: 161 for the two-step case and 143 for the single (different by 18 degrees).

[2021-01-25 21:18] russell-taylor commented on #57
[2w9t_two_vs_one_stage.txt](https://github.com/ReliaSolve/Molprobity2/files/5869726/2w9t_two_vs_one_stage.txt)

[2021-02-02 13:03] russell-taylor commented on #58
Copying the chem_data module from a Phenix build into a cctbx build lets us run on these files.

[2021-02-02 14:00] russell-taylor opened #64 "Consider how to output the annotated XYZ structure along with what optimizations should be done"
This is a step towards deciding what needs to be filled in so that we can fill it in from Hydrogenate.
An alternative is to look at what the optimization needs.

[2021-02-02 14:02] russell-taylor opened #65 "Determine what is happening with RotMethyls"
RotMethyl is something that should no longer be done, but the name must be doing something else.
See what RotMethyl is doing there, since we don't want to rotate methyl groups.

[2021-02-02 14:04] russell-taylor opened #66 "Consider adding orientationPenalty for other Movers besides flips"
And let Richardsons understand the table that is in place for FlipMemo.

[2021-02-02 19:13] russell-taylor commented on #65
Methyl rotations are inserted in the AtomPositions::insertRot() method when the atom type is Nitrogen and the doNH3 flag is set.  (This method inserts a RotDonor) for other atom types except Carbon when the doOHSH flag is set.)

The differences between RotDonor and RotMethyl include:
- ROUGH_STEP is 10 and scanAngle is 180 for RotDonor, they are 30 and 60 for RotMethyl.
- RotDonor finalize() does

[2021-02-02 19:13] #65 closed, assigned to russell-taylor

[2021-02-05 16:22] russell-taylor commented on #57
FlipMemo::finalize() does placement of hydrogens, check to see if this is being called the same way in both cases.

[2021-02-05 16:52] russell-taylor commented on #57
There is code to insert RotAromMethyl, Rot, and Flips inside the hydrogen-addition code after the atom is inserted.  This may not match the behavior in the cases when the atoms are already present.  Indeed, there are seemingly similar AromMethyl and Rot insertions but no Flip insertion (there is a flip insertion in analyzeRes() before it calls genHydrogens(), but it is not conditioned on the hydro

[2021-02-05 21:40] russell-taylor commented on #54
It does not form covalent bonds with waters.

[2021-02-05 21:40] #54 closed

[2021-02-12 14:25] russell-taylor opened #67 "Upgrade SuiteName"
Holds tasks that are part of the SuiteName upgrade.

[2021-02-12 14:27] russell-taylor opened #68 "Send 4z4d output to Dave and Jane for them to inspect what is happening on lines 18-20"

[2021-02-12 14:27] russell-taylor opened #69 "Ask Christopher to get a script that will report both alternates when there are two"

[2021-02-12 14:30] russell-taylor opened #70 "CCTBX SuiteName Integration"
Contains issues involved in writing a native Python CCTBX version of SuiteName rather than just wrapping the executable.

This will enable reading of PDB and CIF files directly.

[2021-02-12 14:31] russell-taylor opened #71 "Kinemage files: ignore headers and append all lists into one and handle 7-parameter files"
The dimension= flag tells where this can be found -- a group line with this info must be found.
Warn if it finds a value other than 7 or 9, or if it doesn't get a list at all

[2021-02-12 14:32] russell-taylor opened #72 "Fill the README.md with information about running SuiteName and its inputs"

[2021-02-12 14:32] russell-taylor opened #73 "Remove the dominant bin column in the SatelliteData table"
Also add comments on how to figure out the dominant cluster by looking in the bin data below

[2021-02-12 14:33] russell-taylor opened #74 "Add a comment that the default doesn't use the satellite widths and tell how to turn it on with the new flag"

[2021-02-12 14:36] russell-taylor opened #75 "Find an example CCTBX program to base the SuiteName integration on"

[2021-02-15 14:38] Joymaker commented on #74
Done.

[2021-02-15 14:38] #74 closed, assigned to Joymaker

[2021-02-15 14:55] Joymaker commented on #73
Done.

[2021-02-15 14:55] #73 closed, assigned to Joymaker

[2021-02-16 15:59] russell-taylor opened #76 "Deploy cctbx including new MolProbity on AWS Graviton2 processors"

[2021-02-16 16:21] russell-taylor commented on #76
[code]
(For multi-CPU instances with sufficient memory, can use --nproc=N where N is the number of processors)

[2021-02-16 16:22] russell-taylor commented on #76
For AWS Graviton processors, we cannot use conda as is because there is not an associated package to use

Trying to build without conda:
`python ~/src/cctbx_project/libtbx/auto_build/bootstrap.py --python=36`

Results in the following errors after OpenSSL is successfully installed:

[code]

[2021-02-16 16:35] russell-taylor commented on #76
There was a Python 3.7 set of directories in the base/bin directory.  trying rerunning with --python=37

This fails with the same error.

[2021-02-16 16:53] russell-taylor commented on #76
(Consider using the Miniconda3-latest-Linux-armv7l.sh instead of the i86 version that it tries to install; determine how to tell)
Nope: This build is for Raspberry Pi 2 running Raspbian Wheezy and the Graviton is not ARMv7l.

[2021-02-16 17:03] russell-taylor commented on #76
The aws-graviton-getting-started page reports that the following packages are needed to install Python from source:

[code]

After installing these, retried `python ~/src/cctbx_project/libtbx/auto_build/bootstrap.py --python=36`

Note: I expect that some of those packages may not be needed for our case: libblas-dev gfortran liblapack-dev

[2021-02-16 17:07] russell-taylor commented on #76
Adding those packages and pip installs did not fix the problem -- we get the same error message.

[2021-02-16 19:38] russell-taylor commented on #57
Check the behavior surrounding the doNotAdjustSC test before rotation and flip insertion in the case where we are adding hydrogens.  It seems likely that we either always want to insert the flip to be consistent with the behavior for the case where the hydrogen is already there or else want the earlier one to be conditional.

Also, is this supposed to be testing for whether to do optimizations or

[2021-02-16 19:53] russell-taylor commented on #57
The two atoms that are not added in one case are both from HIS and both are type "Ha+p" with XTRAFLAG|BONDBUMPFLAG set, where XTRAFLAG is not set for any other entry in the entire residue list; perhaps this flag is what is causing the discrepancy.  It is controlled by the BuildHisHydrogens flag in the case where the hydrogen is being added, which is set to TRUE for -FLIP and which defaults to FALS

[2021-02-17 21:10] russell-taylor commented on #57
We need to add the -HIS flag when doing the adding without optimization to get these to be added in that case.

[2021-02-17 21:24] russell-taylor commented on #57
Adding the -HIS flag to the non-optimizing code fixed the issue with missing hydrogens:
[code]
However, it still has some hydrogens in different locations:

[code]

[2021-02-17 21:30] russell-taylor commented on #57
Running with -FLIP -NOOPT does not behave any differently; it still has the same hydrogens in the same locations.  This seems to indicate that we're not missing a different command-line argument.

[2021-02-17 21:43] russell-taylor commented on #57
Looking at the Lysine errors, this is one of the few entries that has NH3FLAG (though this can be later set by planHplacement) and it is one of many that have ROTATEONDEMAND set.

NH3FLAG is used only by okToPlaceHydHere() so it is probably not the cause.

[2021-02-17 22:23] russell-taylor commented on #57
We may need DemandRotNH3 to be set using the -ROTNH3 command-line argument to get this to happen when we're not adding the hydrogen.

[2021-02-18 14:27] russell-taylor opened #77 "Write up improvements made to SuiteName along the way and send to Jane and Dave for progress report"

[2021-02-18 14:28] russell-taylor opened #78 "Update the README according to the notes below"
readme.md questions:
                        Expand "sinusoidal distance"
                        Leave the "suite" pun alone
                        "dangle" format should be described along with an example in the README and -help
                        Epsilon and such handled as callout in Markdown if we can
                        superellipsoid vs. hyperelllipsoid -- use "power 3 hyperellips

[2021-02-18 14:29] russell-taylor opened #79 "dotlist and balllist should both be accepted"
dotlist and balllist should both be accepted

[2021-02-18 14:29] russell-taylor opened #80 "Check the list length to make sure its length matches the dimension -- ignore if not"

[2021-02-18 14:30] russell-taylor opened #81 "Convert regression tests to Python"

[2021-02-18 14:30] russell-taylor opened #82 "Add a comment in the -help that DNA will be skipped"

[2021-02-18 14:30] russell-taylor opened #83 "Set an nonzero exit code if there is no output"

[2021-02-18 14:33] russell-taylor opened #84 "Look for a library that can be used to do the graph algorithms that are used to speed up Reduce"
Contact Jack to see which ones he recommends.  Once we have some options, check with the LBL folks for what they use and which of our choices they recommend or are familiar with.

The part that finds the locations in space that you should run probe on to determine the best ones.
It hands back the singles and sets of groups that are joined by a single arc in the graph.
Separate code provides the gr

[2021-02-18 14:38] russell-taylor opened #85 "Find out how Reduce decides if a ring is aromatic in a HET"
Add to write-up and send to Dave and Jane.

[2021-02-18 14:40] russell-taylor opened #86 "Talk with Christopher about how to integrate SuiteName into CCTBX"
Is it using dangle or something to feed SuiteName in the current common workflow?
 How is the problem of the alternates being solved now?
 Also see how things are being done in MolProbity
 Christopher knows how the other test programs he wrote are integrated with CCTBX

[2021-02-18 14:41] russell-taylor commented on #84
Finding the cliques is not the hard part

[2021-02-18 14:42] russell-taylor opened #87 "Keep the warning message when it cannot find the ligand -- gets the contacts wrong"
Get that warning to the user, at least in MolProbity

[2021-02-18 14:51] russell-taylor opened #88 "Decide how to determine where to insert rotations and flips"
This currently depends on looking at the hydrogen placement plan information and at the covalent bonding structure.

                HET dict comes from the PDB but it is not being updated
                        There is a more complicated replacement for it now
                        They run a script to remove hydrogens from Phosphates
                        There are now some other changes

[2021-02-18 16:59] russell-taylor commented on #84
Emailed Jack asking for a meeting early next week to discuss.

[2021-02-18 17:06] russell-taylor commented on #85
It uses the isAromMethyl() function defined in reduce.cpp.

[2021-02-18 18:35] russell-taylor commented on #85
For each returned plan, analyseRes() checks whether the residue is an aromatic methyl group by calling isAromMethyl() and if so then it adds the AROMATICFLAG feature to the plan.  isAromMethyl() proceeds as follows:
Verify that there is a ring bonded to the hydrogen by calling ResConn::findRingBondedToMethyl(), which verifies that the hydrogen is connected to a carbon that has three hydrogens bond

[2021-02-18 18:37] #85 closed, assigned to russell-taylor

[2021-02-18 18:45] russell-taylor commented on #57
Adding this parameter did not change the rotations.

[2021-02-18 20:45] russell-taylor commented on #57
One only of the two alternate conformations was different in the two cases.  Some of the values were different for the A conformation and some were different for B, but not both for the same residue in any case.  Also, there were the same number of A conformation differences (in the same order) as for B conformation.  But the distances were different for the two conformations.

This may be a red h

[2021-02-18 20:55] russell-taylor commented on #57
All of the movers are being added for the conformations that are not getting the correct value.  Is something keeping them from being optimized?  There are enough entries for them to be present for both the A and B conformations.

[2021-02-18 20:57] russell-taylor commented on #57
When the hydrogens are added, the movers are added in two passes -- one for each conformation.  When they are already present, they are added in order of residues, with both conformations for a given residue one after the other.  Might this be because all of the hydrogens that are added have atom number 0 so that they are all sorted together?

[2021-02-18 21:23] russell-taylor commented on #57
It did optimize in both cases, it just got different answers... both in terms of the angle description for the final result and the initial and final scores.  It looks like the initial orientation may have been different for the two.

[2021-02-18 21:27] russell-taylor commented on #57
The same number of calls to Rot3Fold::finalize() seem to be made in either case.

[2021-02-18 21:32] russell-taylor commented on #57
Making the call to insertRot() always have TRUE for the current or case so that the parameters are the same for both the add and no add hydrogen cases did not change the behavior.

[2021-02-18 21:46] russell-taylor commented on #57
When comparing the hydrogen-add file to the output file that was run on it to optimize:
- Many differences are present between the two files, including differences in the residues that differ in the single-vs.-double run case and many more.
- some HE2 atoms get deleted from HIS residues (note that must also be done in the single-FLIP case)

So it looks like optimization is being performed and it u

[2021-02-19 14:46] russell-taylor opened #89 "Ensure that SuiteName '-' command line argument lets it read from standard input"
Ken, please verify that this works and close this issue.

[2021-02-19 16:41] russell-taylor commented on #81
There is already a cctbx tst_suitename.py unit-test script, so at this point I think our need for a regression test is probably over.  We'll consider augmenting that test program as needed to provide more complete coverage.

[2021-02-20 00:37] Joymaker commented on #89
Suitename reads from the standard input without any such command line argument, as long as you do not give it a file name as the first argument. Is this isolated '-' argument a feature we want to add, anyway?

On 2/19/2021 9:47:05 AM, Russell Taylor <notifications@github.com> wrote:
Assigned #89 [https://github.com/ReliaSolve/Molprobity2/issues/89] to @Joymaker [https://github.com/Joymaker].
—
You

[2021-02-20 19:11] russell-taylor commented on #89
Let's not add that -- it must be parsed by the wrapper code.  Thanks!

[2021-02-20 19:11] #89 closed, assigned to Joymaker

[2021-02-22 16:35] #86 closed, assigned to russell-taylor, chrissciwilliams

[2021-02-22 17:10] russell-taylor commented on #57
Currently, when we use the correct arguments we get a couple of differences in the compare_model_files output for 2w9t: (1) TYR A 16 and B 109 have differences in their HH placements, (2) LYS A 10 and 32 and B 52 and 158 have different orientations, each one by a different number of degrees.  Small differences in placement are ignored by this program.

The file diffs show small differences in the

[2021-02-22 17:13] russell-taylor commented on #57
Let's take a look at the HH placement differences and see what might be causing those.

[2021-02-23 14:19] Joymaker commented on #79
Done.

[2021-02-23 14:19] #79 closed, assigned to Joymaker

[2021-02-23 14:20] Joymaker commented on #80
Done and tested.

[2021-02-23 14:20] #80 closed, assigned to Joymaker

[2021-02-23 14:20] #82 closed, assigned to Joymaker

[2021-02-23 14:20] #83 closed, assigned to Joymaker

[2021-02-23 16:30] russell-taylor opened #90 "Unit test for Reduce"
There is a test_reduce.py script in the source directory.

Extend or replace it as needed.

Ensure that it works as part of cctbx testing.

[2021-02-23 18:25] russell-taylor opened #91 "Deploy cctbx/molprobity on Apple M1 processors"

[2021-02-23 18:42] russell-taylor commented on #91
Testing on a just-out-of-the-box Mac with and M1 processor:
* Install XCode from the Apple Store
* Download and build:

[code]

[2021-02-23 18:53] russell-taylor commented on #91
Failed when trying to build OpenSSL.  'make -j 1' failed with return code 2.

[2021-02-23 18:59] russell-taylor commented on #91
Ran `xcode-select --install` in a terminal to get the command-line developer tools but the compile failed at the same location.

[2021-02-23 19:46] russell-taylor commented on #84
* There is a Boost graph library that uses the Boost license.  A discussion at https://stackoverflow.com/questions/1499878/use-a-graph-library-node-network-library-or-write-my-own talks about using the bundled properties to make things easier.  They also recommend the book https://www.amazon.com/dp/0201729148 which may also be available online at https://www.boost.org/doc/libs/1_75_0/libs/graph/do

[2021-02-24 00:56] russell-taylor commented on #91
OpenSSL requires a newer version than they are using.  Master works, and it is on the 3.0.0 candidate tag rather than the 1.X tag.  Consider making an M1 version that checks this out rather than pulling from a zip file.  They may have a more up-to-date zip file on the 3.0.0 alphas that we can use.

[2021-02-25 12:04] russell-taylor commented on #91
It looks like this is downloaded from a set of mirror repositories as a compressed tar file, so replacing this may not be straightforward.

[2021-02-25 14:16] russell-taylor commented on #75
cbetadev

[2021-02-25 14:16] #75 closed, assigned to russell-taylor

[2021-02-25 14:40] russell-taylor commented on #57
The HH placement includes the ROTATEFLAG and it is part of an OH (attached to an Oxygen).  It does not have the AROMATICFLAG set.  It is inserted as a RotDonor and the B 109 is rotated 176 degrees in the double-step and 180 in the single-step approach.  The score is the same in both approaches and neither had bad bumps.

[2021-02-25 14:53] russell-taylor commented on #57
Making the output file have 5 significant digits past the decimal rather than 3 changed the rounding on some atom positions and made them closer between the runs but it did not change the rotation differences we're seeing.  So it looks unlikely that rounding is the cause of the problem.

[2021-02-25 19:50] russell-taylor commented on #57
When we print out all of the angles that were tried for RotDonor, we get a different number of trials, with 6 extras interleaved for the singles-step and 4 extras interleaved for the two-step process.  Most of them are distinct: 140 is only two-step whereas 320 and 220 are only one-step; 40 is found a single time in each at different locations in the output.

[2021-02-25 20:18] russell-taylor commented on #57
The number of angles in the list to be tried is the same for both, so it is the number of angles that are tried that differs.  The angles being checked differ by a very small amount in the two cases, and indeed one of the lists fails two more angles than the other.  Some of the failed angles are less than 1e-11 in size, so we could easily be seeing slight perturbations due perhaps to position roun

[2021-02-25 20:29] russell-taylor commented on #57
The angles being tested vary in the two cases by up to 0.03 degrees.  This could presumably make a difference in which of two options is selected because it will change the scores for the angles by shifting their positions slightly.  In this manner, slight round-off errors in position could potentially change the results in the manner that we are seeing.

[2021-02-25 20:54] russell-taylor commented on #57
We're going to need to switch from regression tests ("did this change the behavior") to unit tests ("is this behaving properly") and put sufficient slop in the tests to accept all correct answers.

[2021-02-25 20:54] #57 closed

[2021-02-25 20:58] russell-taylor commented on #90
This should be modified to test the expected behaviors of Reduce and check against whether the results fall into expected ranges rather than have exact string matches.

[2021-02-26 15:38] russell-taylor opened #92 "Probe: Consider caching a map of weak pointers to dot sets"
This will keep us from needing to re-generate sets for different atoms that have the same radius and density settings, which should vastly reduce the number of calls to cos() and sin().

[2021-02-26 15:44] russell-taylor commented on #92
This is already being done in Reduce, so we'll inherit it when we merge the two code sets.

[2021-02-26 15:44] #92 closed, assigned to russell-taylor

[2021-03-02 15:31] #78 closed, assigned to Joymaker

[2021-03-02 15:31] #77 closed, assigned to Joymaker

[2021-03-02 15:32] #71 closed, assigned to Joymaker

[2021-03-02 15:32] #68 closed, assigned to Joymaker

[2021-03-02 15:34] #72 closed, assigned to Joymaker

[2021-03-02 15:36] #81 closed, assigned to Joymaker

[2021-03-02 16:03] russell-taylor opened #93 "Merge SuiteName into master"
Test build and run within cctbx.
Merge into master ReliaSolve.
Merge into master rlabduke.

[2021-03-02 16:03] russell-taylor commented on #93
Modify the README to describe how to compile and what the command_line directory is.

[2021-03-02 17:10] russell-taylor opened #94 "Make it possible to run 'python suitename.py' on the root-directory file as well as the command_line file"
This will enable people who are not using cctbx to run the program.

[2021-03-02 17:11] russell-taylor commented on #94
It is possible to check and see whether a script is being run as __main__ or whether it is being imported and only call the internal code if run as __main__

[2021-03-02 17:13] russell-taylor opened #95 "Describe the required --pointIDfields argument in the README.md"
Also describe how to run the program using a complete command-line script including 'python3'.

This description should be the first thing in the Running section.

Also describe that the program can be installed as part of cctbx/phenix and that it can then be run as molprobity.suitename or phenix.suitename with the same command-line options as when running under Python.

[2021-03-02 17:49] russell-taylor opened #96 "Change the SuiteName license to Apache2"

[2021-03-02 17:52] russell-taylor opened #97 "Make a way to show the version in SuiteName, perhaps --version"
There is a showHelpText() function defined in suitename.py but it is never called.

We should make a major version bump from the last C version and call it version .1.0.date

[2021-03-03 14:59] russell-taylor opened #98 "Comment the 4D calculations to describe why they are there (see notes below)"
Why 4D math followed by 7D math rather than just 7D from the beginning?
                        The main differences are that you have to assign a bin in one case, and then most points are near the center?
                        The 7D is being computed for everything that 4D is computed for
                                4D is used to figure out which is the most appropriate cluster

[2021-03-03 14:59] russell-taylor opened #99 "Send a list of things that SuiteName is checking for to Jane and Dave to help them pick a smaller test set"

[2021-03-03 15:03] russell-taylor opened #100 "Unit tests for SuiteName"
Generate artificial cases that you know the answers to
- Mean location for each cluster should be assigned to that cluster
- Test points near the average location of two cluster means to make sure they are properly assigned to the nearest
- Past the boundaries on each axis change the inside/outside behavior

List cases that should be tested and Jane and Dave could find files that test these cases

[2021-03-03 15:04] russell-taylor commented on #100
Code paths to test
- Things triaged first
- Things in ordinary cluster
- Dominant satellite situation; near dominant, near satellite, or near the middle
- 7d distance math may exclude or include things that were judged the other way

[2021-03-03 15:05] russell-taylor opened #101 "Check and see if the planar or tetrahedral angle for OH have preferences"
Hydrogenate was placing things not at one of two correct orientations, then reduce would have to rotate it.
Preferred orientations when no change in probe scores.

[2021-03-03 16:56] russell-taylor commented on #101
There is not currently a preference, but there is an unused compiler flag that would enable one.

[2021-03-03 16:56] #101 closed, assigned to russell-taylor

[2021-03-04 18:27] russell-taylor commented on #100
Note from Ken: Code paths that should be tested in Suitename:
1. Triage on each of the seven angles.
2. Only one match.
3. Multiple matches, none of them dominant.
4. A dominant but we are not near a satellite.
5. Dominant and satellite, but it's not between them, dominant is selected.
6. Dominant and satellite, it's not between them, satellite is selected.
7. Dominant and satellite, it's between

[2021-03-06 15:41] russell-taylor opened #102 "Probe: Include near contacts in the calculations for both Probe and Reduce"
Paper says that probe but not reduce gives favorable scores for near contacts

[2021-03-06 15:55] russell-taylor commented on #102
Make this an option, but what should its default value be?

[2021-03-08 14:30] #95 closed, assigned to Joymaker

[2021-03-08 14:42] Joymaker commented on #99
Sent this list, as well as a verbose listing over the entire reference database that highlights which case fell under.

[2021-03-08 14:42] #99 closed, assigned to Joymaker

[2021-03-08 14:43] #94 closed, assigned to Joymaker

[2021-03-08 15:06] russell-taylor commented on #96
See the "How to apply the apache license to your work" section of https://www.apache.org/licenses/LICENSE-2.0
Name of copyright owner is Richardson Lab at Duke University

Add the notice to all of the Python files and add a LICENSE text in the root directory.

[2021-03-08 21:27] #93 closed, assigned to russell-taylor

[2021-03-09 18:36] russell-taylor commented on #90
The script does not run under Python 3.6.  Rebuilding cctbx with Python 2.7 to see if it runs there.

[2021-03-09 18:38] russell-taylor commented on #90
Jane sent some OH tests that we can add to the list.

[2021-03-09 19:00] russell-taylor commented on #90
The script does run under Python 2.7 but it fails for the current master C version for the tests that are run.  This may be due to simple reformatting of the USER  MOD lines but it is hard to tell from the output.

[2021-03-11 18:21] russell-taylor commented on #102
Dave and Jane say to always include them with no option not to.  The overall terms are designed for the inside terms to balance the outside terms, so not having them will not follow the Lennard-Jones-like curve

[2021-03-12 20:13] russell-taylor commented on #102
Probe radius defaults to 0.25 Angstroms and is used in Probe to determine the partial and total solvent accessible surface and to determine if points are near. For Reduce, it is used to in a function that determines whether atoms are bumping (CollectBumping) but this function is never called; it is also added to the atom radii to determine which atoms are nearby and should be checked.

In Reduce,

[2021-03-12 20:13] russell-taylor commented on #102
The time taken for reduce -FLIP -RADIUS#.# varies as follows:

Radius 0.0 (default): 2m3.6s
Radius 0.25 (Probe default): 2m45.7s
Radius 0.5: 3m27.9s

[2021-03-15 13:02] russell-taylor commented on #100
Test angles that are too large in addition to angles that are too low

[2021-03-15 13:03] russell-taylor commented on #97
Fix the help text so that it includes the showHelpText() function information

[2021-03-15 13:07] russell-taylor commented on #84
Trick for doing hypregraphs in Boost: https://stackoverflow.com/questions/21175892/hypergraph-support-in-boost-library

[2021-03-15 13:07] russell-taylor commented on #84
Hypergraph library: https://github.com/alex-87/HyperGraphLib

[2021-03-15 13:08] russell-taylor commented on #84
Consider using subsets for the hyperedges and doing this as sets operations.

[2021-03-15 13:31] russell-taylor commented on #90
The 1ssx1H_Ser226-OH_right_140.pdb and new 1ssx1H_Ser226-OH_wrong_17.2.pdb (named 1ssx1H_Ser226-OH_wrong_17.2_Asn220.pdb) files work such that one of them gets flipped and the other does not.  There are two problems:
- Significantly, the one named "right" gets flipped and the one named "wrong" does not.
- Probably insignificantly, the flipped one is 0.03 Angstroms away from the original.  This pre

[2021-03-15 13:41] russell-taylor commented on #90
Looking at why the 1ssx1H_Ser43-OH_wrong_-60.pdb and _right_ files are not recognized as model files.
- Removing the USER MOD lines did not fix this
- Removing All of the header lines before the ATOM lines did not fix this
- Replacing the header with the one from the Ser226 file that does work did not fix this
- Running dos2unix on the original file did not fix this
- The broken file appears to ha

[2021-03-15 13:56] russell-taylor commented on #90
The script is able to read 1EX2.pdb, which has A and B alternates in its HETATM records.

[2021-03-15 14:59] russell-taylor commented on #90
The script is able to read the 1ssx.pdb file downloaded directly from the PDB.  The problem seems to be the alternate Hydrogen atoms.  If I remove them, then there is no problem.

[2021-03-15 15:46] russell-taylor commented on #90
It is just the following line:
`ATOM      0  H  BARG A 141      19,159  27.189   7.221  0.25  3.69           H   new`

The corresponding A line works and the HA B line following also works:
[code]

[2021-03-15 15:59] russell-taylor commented on #90
Asked the bulletin board about this to see if it is a bug.

[2021-03-15 16:05] russell-taylor commented on #90
When I remove the B alternate from the model, it flips the Ser43 named "wrong" into the same place as the one named "right".

[2021-03-16 15:42] russell-taylor commented on #88
Dorothee's script reports the number of rotatable Hydrogens that it finds.  Perhaps we can get the information we need on where there can be flips and rotations that way.

[run_table_info.zip](https://github.com/ReliaSolve/Molprobity2/files/6150327/run_table_info.zip)

[2021-04-07 12:21] russell-taylor commented on #97
Update from Billy Poon on showing Program Template version info:

I added a function that returns the version of cctbx that you're using (libtbx.version.get_version). It is incorporated into the ProgramTemplate so that if you use the "--version" flag on the command-line, the version is returned. The release conda packages will return the release version and your development version will be based o

[2021-04-08 00:23] russell-taylor commented on #91
The latest master branch of CCTBX builds and runs Reduce on the M1.

[2021-04-08 00:23] #91 closed, assigned to russell-taylor

[2021-04-13 15:02] russell-taylor opened #103 "Define how to identify Movers and ranges of motion for each"
Determine a fundamental definition for each Mover type and also the implementation within CCTBX that will be used to identify or approximately identify each.  There may be a different approach for Amino/Nucleic Acids and other HET groups for each Mover.

Determine the allowable range of motion (state space) for each Mover.  Determine how to parameterize each and what the default parameters will be

[2021-04-13 18:15] russell-taylor opened #104 "In probe.c, a hydrogen can bond to the face of an Aromatic ring"
HB2aromFace controls whether this happens or not.

We'll want to preserve this function in the CCTBX implementation and presumably enable it in Reduce as well.

[2021-04-13 18:16] russell-taylor commented on #104
**The paper mentions that S is taken as a potential H-bond acceptor.**

[2021-04-13 18:38] russell-taylor opened #105 "annularDots code in Reduce should be for overlap cases (including hydrogen bonds) rather than non-overlap cases"
The probe code has this for all overlap cases, but Reduce has it only for non-overlapping cases.

This means that we never get a score for non-overlapping cases.

This also means that we're not limiting things the way we expect to when overlaps or hydrogen bonds are found.

[2021-04-13 18:40] russell-taylor opened #106 "Add additional testing found in Probe beyond what is in Reduce for probe score determination"

[2021-04-13 18:51] russell-taylor commented on #105
Not so... the Probe code is excluding when overlaptype == 0 EXCEPT when the dots2srcCenter <= kissEdge2bullsEye and Reduce code is including when overlapType == 0 and annularDots...

[2021-04-14 18:55] russell-taylor commented on #105
So the both Probe and Reduce are testing this in the case when we don't have overlap, but it seems like they should be testing it when we do have overlap.  But hold on... they should be testing it for a DOT that does not overlap, which is what they are doing.  The atoms will overlap, but the dot will not.  Okay, this makes sense in both cases.

[2021-04-14 19:07] russell-taylor commented on #105
However, in the case where the entire atom is not overlapping, we still want to count the values from close-contact dots to give a better fit for atoms that are nearly touching.

Probe has a command-line argument to turn on counting weak hydrogen bonds (default off).  If it is on, then the overlap type is set to 2 and counting an external dot as a hydrogen bond.  Other atom near touches in Probe (

[2021-04-14 21:34] russell-taylor commented on #105
Hook into saveDot() and see if we can figure out which ones could contribute to a score.

[2021-04-15 15:28] russell-taylor commented on #105
The code in Probe that is using the dot2srcCenter() and kissEdge2bullsEye() functions is passing all of the dots for a Hydrogen at some distance from a Nitrogen when they are not overlapping.  This is for non-overlapping atoms with LimitDots set to true.  The numbers are all within bounds that would be passed.

[2021-04-15 15:30] russell-taylor commented on #105
When we get closer such that some dots overlap, some of the non-overlapping dots pass and others do not pass, so it seems like this function is working in both partial-overlap and non-overlap cases in Probe.

[2021-04-15 15:47] russell-taylor commented on #105
The dot2srcCenter function is returning much larger values for the new Probe code (1.3-1.5 rather than 0.1-0.5) than for the original code for similar radii and distances.

[2021-04-15 15:57] russell-taylor commented on #105
For a radius-1 atom, it is surprising that the distances from a dot to the source center is larger than 1.  This would imply that the dot is on the back side of the atom, which should only happen during contact.

[2021-04-15 16:06] russell-taylor commented on #105
The problem appears not to be in the annular-dots code -- there are no dots in our test case that are being considered by it.

[2021-04-15 20:07] russell-taylor commented on #105
The bug was in the testing code, not in the calculations.

[2021-04-15 20:07] #105 closed, assigned to russell-taylor

[2021-04-20 15:37] russell-taylor commented on #102
Added to main repository, including fixes for bugs found when implementing.

[2021-04-20 15:37] #102 closed, assigned to russell-taylor

[2021-04-20 19:32] #69 closed, assigned to Joymaker

[2021-04-23 19:41] russell-taylor commented on #106
Probe returns a 2D array of dotNode results from examineDots() rather than a set of sums of different types of interaction scores:

[code]

The first index of the array is for each atom type (NUMATOMTYPES, from atomprops.h:atomIdentifiers).  **Warning:** The atom type gets replaced by the nucleic acid base type (see dotType() unless called by updateHydrogenInfo() when ByNABaseColor is true).

The

[2021-04-27 14:43] russell-taylor commented on #106
Probe deals with seven different contact types (weak H-bond and worse overlap are only broken out when LweakHBonds and LworseOverlaps are true; they are false by default.  The type is determined by dotClassIndex(type, minGap):
- 0 = wide contact: Contact and minGap > HighGoodCut, **treated as contact in Reduce and when computing summed score in Probe**
- 1 = close contact: other contacts
- 2 = wea

[2021-04-27 15:55] russell-taylor opened #107 "Probe: rawEnumerate() and enumarate() compute essentially the same things"
One of them prints more output than the other and one may have an additional thing that it tracks, but they are essentially copy-paste.

These should be combined into a single function when the code is ported.

[2021-04-27 15:56] russell-taylor commented on #107
These functions are also computing a large overlap of the quantities that Reduce's atomScore computes, with atomScore adding a bad-bump flag and Probe adding counts of dot types.  atomScore sums over an atom whereas enumurate() and friend sum over all dots that have been accumulated by checking all atoms.

[2021-04-27 17:38] russell-taylor opened #108 "Probe AtomVsAtomDotScorer::score_dots() should probably notice co-located atoms"
It currently has a nonzero minimum distance, which prevents selecting the atom itself but will also neglect co-located atoms in a very bad model.

[2021-04-27 17:53] russell-taylor commented on #106
The default behavior in Probe is to ignore mainchain-mainchain comparisons for the same residue.  This is filtered within the examineDots() method, it avoids comparisons between atoms that are both marked as mainchain and that both come from the same residue (and neither is HET).  This might be handled by adding these to the excluded list for each atom when that atom is on the mainchain, moving th

[2021-04-27 17:55] russell-taylor commented on #106
Unless the DoWatWat flag is set to be true, the default behavior of Probe is to ignore comparisons between atoms when both of them are water.  This is filtered within the examineDots() method.  This might be handled by adding these to the excluded list for each atom when the source atom is a water, moving the logic into the outer loop in the CCTBX Probe.

**These can be determined in genDotInterse

[2021-04-27 18:12] russell-taylor commented on #106
Probe uses a targFlg target flag to indicate which atoms should be targets for collisions.  It flags all of the ones that could be targets before calling examineDots().  It is set in selectSource() based on the target pattern.

CCTBX Probe could handle this either by only putting these atoms into the spatial-query structure or by adding all non-target atoms to the excluded list.  **Better to do th

[2021-04-27 18:19] russell-taylor commented on #106
Probe adjusts its spike lengths by hydrogen distances when there is hydrogen overlap the same way Reduce does, but it also does them for the individual dots that it returns.  Because we ended up breaking the code into an inner per-dot check this will naturally flow back to the Probe Python code.

[2021-04-28 15:01] russell-taylor commented on #106
Probe keeps track of dots by atom element (type) and by contact/overlap type (see above), with overlap type stored inside the dotNode and atom types maintained on different lists.

**These are determined in examineDots() after the closest contact atom and distance are determined, so can remain in the Python code rather than the C++ code.**

[2021-04-28 15:18] russell-taylor commented on #106
Probe has switches with comments indicating that it needs to test the acceptance angle of hydrogen bonds "in some cases" (when dealing with hydrogen bonds to aromatic rings?), **_but there is no actual code within the if/else statement to actually do this_**.  The TEST_ACCEPT_ANGLE_PROP flag is used to do that, and it is set in the select.c code both in tables and in some functions.

Reduce deals

[2021-04-28 15:31] russell-taylor commented on #106
Probe has a CHOHBfactor that is used to scale the visible spike length for CH..O bonds.  This scaling is on top of the spikelen scaling.  It happens when there is a CH_DONOR_PROP flag set on at least one side of an interaction for particular hydrogen bonds.  The default for this factor is 0.5 but it can be set on the command line.

CH_DONOR_PROP is set on HD2, HE1, DD2, DE1 on HIS; on H2 and H8 of

[2021-04-28 15:32] russell-taylor commented on #106
Continue the investigation at line 3969 in probe.c

[2021-05-03 13:23] russell-taylor opened #109 "Look at Phenix clashcore to see which Probe command-line arguments it uses"
Also clathscore

[2021-05-03 13:24] russell-taylor commented on #109
Let Ken know so that he can know which arguments to support initially.

[2021-05-03 13:25] russell-taylor opened #110 "Continue to support shortest-unique-prefix commands in command-line parsing"

[2021-05-07 01:02] #98 closed, assigned to Joymaker

[2021-05-07 01:16] Joymaker commented on #96
Among the files required for CCTBX integration there are some in which the inclusion of Apache license text would make the license text far greater than the remaining content of the file. They are boilerplate, directly adapted from Phoenix and CCTBX standards, and contain absolutely no real intellectual property. Do we feel the need to put Apache comments even there, or can we save them for the fi

[2021-05-07 01:59] russell-taylor commented on #96
If there is a LICENSE text file in the root directory I think it is okay to not have this in the boilerplate files.

[2021-05-10 18:21] russell-taylor opened #111 "Handle adjustment of NHQ atoms after flips"
See the 2018 Williams paper describing how these are handled, and the associated code in Reduce.

Reduce does not do this adjustment for the testing, only if the flip is accepted.  Doing it before the testing makes the testing less reliable.

Testing involves renaming the atoms (and presumably moving the hydrogens).

[2021-05-10 18:57] russell-taylor commented on #111
From Jane: "Page 5 in the attached paper explains the reasoning and the 3 steps of the NQH approximation for coordinate output.  Christopher and the whole group worked out the best protocol we could, he wrote code in Python, and Swati Jain put it into Reduce in C++.  You can see her commits in the GitHub history.  On the preceding actual determination of flip state, Dave and I know what was done a

[2021-05-10 19:22] russell-taylor commented on #109
It can use the -nuclear -CON -u -q -mc -het -once -NODVWOUT -dumpatominfo flags.
It can also use patterns "ogtN not water -" for some N and "bltN ogtM not water" for some M and N.

It provides output for clashcore and coot.

[2021-05-10 19:22] #109 closed, assigned to russell-taylor

[2021-05-10 20:12] russell-taylor commented on #106
There are static arrays that keep track of counts of different types of interactions (mcmc, scsc, mcsc, other) along with a sum count that is separately constructed in countsummary().  mc = main chain, sc = side chain.

There are two "banks" of each of these, one for the current pass [bank 0] and another that can have the values of the current pass copied into it that is used to sum both banks whe

[2021-05-10 20:19] russell-taylor commented on #106
(Skip below for non-H-bond interactions with water phantoms)

ptmaster is set based on interaction type (see line 3999+ of probe.c) and the appropriate static array count is incremented, then saveDot() is called with a modified spike location.

**Note:** examineOneDotEach() does additional work to determine parameters for saveDot().

**These are determined in examineDots() after the closest contac

[2021-05-11 15:09] russell-taylor opened #112 "Make sure that CCTBX can load snippet files that are "badly formatted" file inputs"
Get a zoo of PDB files from Jane that cover the range of files that Probe and Reduce will continue to accept.

Extend CCTBX to support reading these files and include regression tests for IOTBX for them.

[2021-05-11 20:17] russell-taylor commented on #106
We were able to break the code into a first part before idx = dotClassIndex() and make that common to both Probe and Reduce, returning a vector of dot results that is the post-processed differently by the Probe code and Reduce code.

Note that examineOneDotEach() rebuilds a single dot per target not from the dot list and runs on it (sometimes dumping the dot location to standard error when Ldotdum

[2021-05-11 20:22] russell-taylor commented on #106
Probe has an adjustable dot point set for C=O Carbonyl atoms, which supports a command-line settable CORadScale, which converts it from 1.75 to 1.65 angstrom radius by default -- can we ignore -COSCALE?

There is a comment in Reduce from 7/3/98 JMW saying that the C=O radius changes from 1.75 to 1.65 but there is no corresponding 1.65 in the code, and the table entry for C=O specifies 1.70.  It wa

[2021-05-11 20:46] russell-taylor commented on #106
examineDots() is called with a list of target atoms that is produced in **genDotIntersect()**, which may be more like the new CCTBX Probe code that searches neighbor lists; it calls findTouchingAtoms() to determine this and then sets markBonds() to indicate bonded atoms.  It could set excluded atoms and such this way instead...

This is the only function that calls either examineDots() or examineO

[2021-05-12 12:20] russell-taylor opened #113 "Investigate change in C=O radius from 1.65 to 1.70 in Reduce"
Who did it, when, and did they say why?

[2021-05-12 12:22] russell-taylor commented on #113
None of the commit logs mention 1.65 or 1.7 in this context.  None mention carbonyl or C=O.

[2021-05-12 12:22] russell-taylor commented on #113
The relevant line in ElementInfo.cpp is:
`insert( 6, "C=O","carbon(carbonyl)",   1.70, 1.70, 1.80, 0.77, "white",  0); //** seems to help`

[2021-05-12 12:32] russell-taylor commented on #113
The log for ElementInfo.cpp has a likely entry on Oct 17 2012 by fheadd "merged in updated H bond-length definitions and related changes".  Yep, that's the one.  It changed it from 1.65 to 1.70.  It did not change the "seems to help" comment, which had been there before.  Here is the relevant portion of the commit:

[code]

[2021-05-12 12:32] #113 closed, assigned to russell-taylor

[2021-05-13 12:31] russell-taylor commented on #104
From Jane: There has long been an implemented check for aromatic rings as H-bond acceptors, but it only uses distance of the donor from any one of the ring non-H atoms.  We have long known we should do better, so there are comments about wanting to check whether the donor is really OVER the ring and pointing down.  We consider that a bug, and would like to implement a better version.

[2021-05-13 20:20] russell-taylor opened #114 "Create native-probe branch of cctbx_project and put Probe CCTBX code into it"
We'll be adding an entry into mmtbx for probe rather than pulling in probe as a module.

Make this branch on the ReliaSolve fork so that Ken and I can work on it together before pushing to cctbx repo.

[2021-05-14 12:18] russell-taylor commented on #114
Add copyright notice.

Remove build of probe module

[2021-05-14 12:27] russell-taylor commented on #96
At least one of the files has the copyright owner as David C. Richardson rather than Richardson Lab at Duke University

[2021-05-14 13:25] russell-taylor commented on #114
Added the test program into the regression tests script.

[2021-05-14 13:25] #114 closed, assigned to russell-taylor

[2021-05-14 15:06] russell-taylor opened #115 "Finding type_energy for atoms in PDB and CIF files is failing"
The call to find type_energy in Dorothee's example program: `te = atom_dict[a.name.strip()].type_energy` is failing with KeyError on look-ups for some PDB files.  In particular:
[code]

I'm asking her what to do about this.

[2021-05-14 16:21] russell-taylor commented on #106
Probe examineDots() has a spikelen parameter that is used to scale the spikes compared to the minGap.  It defaults to 0.5 but can be set on the command line.  It is used to determine the overlaps; in Reduce this is always 0.5.

**It looks like this scaling can be applied in examinDots() based on the returned overlap value; divide by 0.5 and multiply by spikelen to make it match what it would have

[2021-05-17 12:41] russell-taylor commented on #106
**@todo** Pull out the issues described above that have to do with Probe porting but not low-level testing into separate issues and then close this issue.

[2021-05-18 17:36] russell-taylor commented on #115
Dorothee's code has a comment asking why OXT is missing and code that changes the name to 'O' when it is 'OXT'.  For a stop-gap measure, will rename all O* things O and print a warning message.

[2021-05-18 17:55] russell-taylor commented on #115
The OXT --> O fixed the issue for one residue in 3dfr and other files, but then they failed on different names.  Switching O* --> O did not fix things because some of the other residue's dictionaries have no atom named 'O'.  The O5' noted above in 4fen.pdb is one such case, but there are others.

[2021-05-18 17:57] russell-taylor commented on #115
To get this going, trying to find the string that is the best match from the dictionary in that it matches the first character of the name and a maximal number of the others.

[2021-05-19 17:54] russell-taylor opened #116 "1Q9A should be parsed to see if SuiteName can handle alternate conformations"

[2021-05-19 17:55] russell-taylor opened #117 "Add a description of what SuiteName does to the top of the documentation"
Have Dave and Jane review the wording once it is ready.

[2021-05-19 17:56] russell-taylor opened #118 "Find the electron cloud and nuclear distances in Probe and Reduce and see if they agree"
See if there are problems with other than C=O; also check multiple values for C=O

[2021-05-19 17:56] russell-taylor commented on #118
Summary:
        There are three radii in Probe and Reduce; explicit nuclear, explicit electron cloud, and implicit electron cloud.  The three values for a few atoms differ from each other (hydrogens differ in the first two and have 0 for the third; others sometimes have the third different from the first two but the first two are always the same).
        Probe and Reduce appear to differ only in

[2021-05-19 17:56] #118 closed, assigned to russell-taylor

[2021-05-19 18:01] russell-taylor opened #119 "Check Reduce/Probe heavy-atom radii and donor/acceptor against CCTBX"
It is possible that CCTBX has not yet implemented the different radii for the different cases.

Also check the donor/acceptor flags to see if they match.  Reduce sometimes has both flags set for the same molecule...

Do this by adding the table from Reduce along with the atom-mapping functions into CCTBX/Probe and producing a function that can make the ExtraAtomInfo structure from these tables.  T

[2021-05-19 18:12] russell-taylor opened #120 "Mainchain-mainchain atom interactions should be turned on in Probe"
The current default is to have them off.  Everyone always turns them on.  Leave the -mc option, but don't have it do anything because the default will always to handle them.

[2021-05-19 18:23] russell-taylor opened #121 "Consider how to handle Phil options in Reduce"
SuiteName uses a setOptions(options) function that sets module-wide values to avoid having to pass them into each function.

This has the negative impact of all global variables, that you cannot be running two instances of the same module at the same time that use different options.

Another option is to construct a Reduce object and pass the options to the constructor, then call methods on the ob

[2021-05-19 18:50] russell-taylor commented on #100
Add tests for -nowannabe and -string

[2021-05-19 18:51] russell-taylor opened #122 "Try new SuiteName on 1s72"

[2021-05-19 18:54] russell-taylor opened #123 "Merge SuiteName into CCTBX"
When @Joymaker says that it is ready to test, remove suitename module builds and add the subdirectory into the build tree.  Then test building and running molprobity.suitename.  Then push into a native-suitename branch of the cctbx organization and let Michael and others try it out.  Once it is shown to to work, announce and then merge into master.

[2021-05-19 18:55] russell-taylor opened #124 "Add option to run SuiteName and have it produce three output files."
Jane wishes for an option that would cause Suitename to create output in all three formats from a single run. That would be easy to do using the current "library" scheme of things. Here's how it would look:
suitename --all3out 4qvx.pdb
  creates files 4qvx.kin  4qvx.str  4qvx.txt
This will put Suitename in a paradigm of creating and naming output files, in this case, instead of just writing to sta

[2021-05-19 20:09] russell-taylor commented on #119
(done) Be sure to handle the cases in fixupHeavyAtomElementType() when determining the appropriate types for atoms.  (done) The carbon checks use a table that has two kinds of entries in it, one of which tells whether a residue is an amino acid (pull out into a separate set... the iotbx.pdb module contains a sub-module amino_acid_codes with one_letter_given_three_letter which we can check to see i

[2021-05-20 19:48] russell-taylor commented on #119
(done) Asked whether the warning about atom type Co is a typo.  If so, fix it to not warn.  It is a typo; fix it not to warn.

[2021-05-20 20:43] russell-taylor opened #125 "Unit tests for CCTBX/Probe/AtomTypes.py"

[2021-05-20 21:14] russell-taylor commented on #119
(done) Check the tables in Python against the Probe ones; this will ensure that Probe and Reduce match and that we've got the right values in these tables.

[2021-05-20 21:34] russell-taylor commented on #119
(done) Rename the _legalResiduesForSpecialHydrogen to something that respects the fact that these are not hydrogens.

[2021-05-21 13:19] russell-taylor commented on #119
(done) Add special-case check for shifted SE atom that is found in Probe code.

[2021-05-21 13:44] russell-taylor commented on #119
(see below) Check Neutron distances.

[2021-05-24 12:58] russell-taylor opened #126 "Fix PDB version naming in type_energy dictionary"
The dictionary that contains type_energy uses the old names.  Dorothee is checking with Nigel to see what to do about that, since the current PDB files use the new names.

Dorothee reports that Hydrogenate uses the new names.  Figure out what data it is using the get the information that is different from the example in run_table_info.py.

[2021-05-24 13:00] russell-taylor opened #127 "Fix bogus unit cell volume when creating restraints manager"
I can test in the meantime using the translated atom names.  With that hack, I've been able to load all of the models except for 7k00.cif (which fails for a different reason:

[code]

Dorothee reports:  The issue most likely occurs when the restraints manager is created: model.process_input_model(make_restraints=True) # make restraints

You can create a bogus cell that is large enough to encompass

[2021-05-24 13:12] russell-taylor commented on #127
Dorothee's fix worked.

[2021-05-24 13:12] #127 closed, assigned to russell-taylor

[2021-05-24 13:22] russell-taylor commented on #126
It looks like Hydrogenate has its own internal table that it is using temporarily until the names are changed in the monomer library, so we'll need to wait until that is fixed.  We can use the Probe tables to look things up in the meantime, along with our best-match routine to try and find the correct ones to use when there is not a perfect match.

[2021-05-24 13:59] russell-taylor commented on #119
Added command-line option to ask for Neutron distances.  There are a ton of differences, see why.

[2021-05-24 14:52] russell-taylor commented on #119
The AtomTypes.py was reading implicit hydrogen distances instead of neutron distances due to a parsing error.  Fixed and now the two have the same number of atom mismatches in Neutron and in electron-cloud distances.

[2021-05-24 15:31] russell-taylor commented on #119
**@todo Check hydrogen radii:** Both electron-cloud and Neutron distances.  Do this by running on a model file that has had hydrogens added.

Note: When we run phenix.reduce on 3dfr.pdb and then try and compare on the output file, we get an error interpreting the model:
[code]
However, after running mmtbx.hydrogenate the model can still be parsed.

Problems: (1) With dfr3.pdb: in electron-cloud mo

[2021-05-24 15:44] russell-taylor commented on #119
**@todo:** See if Probe does additional processing on these atoms to change their status after the initial estimation.  Check both radius and ACCEPTOR/DONOR.
- The radius is not changed after it is returned from the table within Probe or Reduce.
- Probe has other functions that set ACCEPTOR_PROP and DONOR_PROP; it does not in fact read them from its internal tables at all.
- Probe has hisNHcheck()

[2021-05-24 17:39] russell-taylor commented on #119
(done) Probe special-cases '?A??' atom names in :ASX:GLX:ASN:GLN:, replacing them with ' O  ' before calling identifyAtom during the loading process.  Reduce has a fixupAmbigAtomName() function called during loading that does a more complicated check to turn some of them into O or N.  Used the Reduce approach.

If CCTBX is not doing this, then our table-based approach will get different answers fo

[2021-05-25 12:37] russell-taylor commented on #115
Will leave this workaround in place at least until the names in the dictionaries are changed to the new naming scheme.

Also added MolProbity-native VDW and acceptor/donor lookup, though the acceptor/donor is only the first step within Reduce to determining the actual atom behavior.

[2021-05-25 12:43] russell-taylor opened #128 "Find out how to determine which atoms are mainchain (including hydrogens)"
The default behavior in Probe is to ignore mainchain-mainchain comparisons for the same residue **but this default will change and be turned off** . This is filtered within the examineDots() method, it avoids comparisons between atoms that are both marked as mainchain and that both come from the same residue (and neither is HET). This might be handled by adding these to the excluded list for each

[2021-05-25 12:48] russell-taylor opened #129 "Determine what radius to use for C=O (carbonyl) atoms"
Probe has an adjustable dot point set for C=O Carbonyl atoms, which supports a command-line settable CORadScale, which converts it from 1.75 to 1.65 angstrom radius by default -- can we ignore -COSCALE?

There is a comment in Reduce from 7/3/98 JMW saying that the C=O radius changes from 1.75 to 1.65 but there is no corresponding 1.65 in the code, and the table entry for C=O specifies 1.70. It was

[2021-05-25 12:50] russell-taylor commented on #106
@Joymaker Tagging you on this issue because it has a lot of notes that will be helpful when trying to port Probe to Python/CCTBX.

[2021-05-25 12:57] russell-taylor opened #130 "Consider including CH..O bond-scale factor"
Probe has a CHOHBfactor that is used to scale the visible spike length for CH..O bonds. This scaling is on top of the spikelen scaling. It happens when there is a CH_DONOR_PROP flag set on at least one side of an interaction for particular hydrogen bonds. The default for this factor is 0.5 but it can be set on the command line.

CH_DONOR_PROP is set on HD2, HE1, DD2, DE1 on HIS; on H2 and H8 of ":

[2021-05-25 12:57] #106 closed, assigned to russell-taylor, Joymaker

[2021-05-25 13:04] russell-taylor commented on #130
There is a setProperties() method in select.c that can set the CH_DONOR_PROP differently based on an argument.

[2021-05-25 13:19] russell-taylor commented on #129
**Note:** The determination of C=O is done in fixupHeavyAtomElementType() in Reduce, not in the original name-based look-up.

[2021-05-26 16:02] russell-taylor opened #131 "Load 4rby.pdb to see if I can load it into my CCTBX programs; let Ken know"
Otherwise, continue to figure out how to be able to load these files.

[2021-05-26 16:04] russell-taylor opened #132 "Learn to produce the "RNA backbone" number on the PDB page for a molecule"
Find out how to run SuiteName on PDB files to produce the "RNA backbone" number on the PDB page to check that we're able to reproduce it with SuiteName before talking with the PDB folks about upgrading.

[2021-05-26 16:05] russell-taylor opened #133 "SuiteName must run on all PDB entries"
We can't release SuiteName until we can run it on all of the PDB molecules because it will break the PDB output
- Make it run on 7k00 to start with, then set up to test them all
- Consider loading models around modified nucleotides and running on the rest of the molecule?
- Reduce/probe have fallback "last chance" naming that bases just on the basic atom name
- Phenix tries various things and then

[2021-05-26 16:07] russell-taylor commented on #119
**@todo:** Figure out how to enable proper comparisons between MolProbity approach and CCTBX approach:
- Keep implementing Reduce/Probe functions to take a closer look?  This should be fairly straightforward for VDW radii
- Find the heavy-atom tables in CCTBX and see whether their X-ray and nuclear distances match Probe's?
- Consider spitting out an intermediate representation from Probe or Reduce

[2021-05-26 16:07] russell-taylor opened #134 "Rename neutron to nuclear"
Rename neutron to nuclear for all distances in the new code unless CCTBX calls them neutron.

Leave electron-cloud, not X-ray.

[2021-05-26 16:09] russell-taylor commented on #104
For aromatic rings, you would actually like to make the ring an acceptor, not an individual atom.  Maybe make aromatic carbons all acceptors and add another test for the dots bonding to it.

CCTBX will need to treat them as acceptors and use its version

[2021-05-26 16:11] russell-taylor commented on #119
(resolved) Talk with Dorothee to see if we're not setting the right flags to have it report smaller VDW radii for Hydrogens in the neutron case.  Otherwise, start the process of figuring out how to change them. Solution: Indeed, ener_lib needed to be told to use neutron distances.

[2021-05-26 16:17] russell-taylor commented on #119
**@todo:** What files to check for further verification?
- Run with the data sets I do the regression tests on
- Add hydrogens using Hydrogenate and re-run so we include them?

[2021-05-26 16:21] russell-taylor commented on #129
1.7 that Reduce is doing is not the right answer, it should be the same as probe
- Make it a multiplier that applies to both electron-cloud and neutron distance
- Enable a Phil parameter to change the ratio in the CCTBX Probe/Reduce

This is the backbone Carbonyl -- " C  " in the backbone, so should be easy to check
- This should definitely be changed to 1.65 for the hydrogen tests we do
- The Ric

[2021-05-26 17:51] russell-taylor commented on #131
@Joymaker I cannot load this into my programs; I get the same error you do about unknown nonbonded energy type symbols.  There are 23 unknown ones, and there are 23 atoms in the 2SG structure in the file, which clearly points to that as the problem.  When I remove that residue, the file loads okay.

The approach we talked about yesterday of doing a selection that removes HETAM records after loadin

[2021-05-26 17:51] #131 closed, assigned to russell-taylor

[2021-05-26 17:55] russell-taylor commented on #134
The CCTBX parameter use_neutron_distances is what is used to set this, so they are using neutron rather than nuclear, so we'll stick with that.

[2021-05-26 17:55] #134 closed, assigned to russell-taylor

[2021-05-28 22:54] #97 closed, assigned to Joymaker

[2021-06-01 13:01] russell-taylor opened #135 "Consider selecting only the standard bases in protein and RNA and then doing restraints only on that subset"
Something like "drop hetatoms".  Only run restraints on that subset.

Then consider how to handle the "standard" modified bases.
- Most of the modified bases do not change the main chain, and those that do have extra atoms that could be ignored

Think about how to handle DNA in the future as an option: make sure it doesn't barf on normal DNA.

[2021-06-01 13:01] russell-taylor opened #136 "1Q9A needs to be parsed to see if SuiteName is able to handle alternate conformations"

[2021-06-01 13:02] russell-taylor opened #137 "Check on the number of point ID fields in your test cases; some seem to have 6 and others 7"

[2021-06-01 13:04] russell-taylor opened #138 "Find the heavy-atom tables in CCTBX and see whether their X-ray and nuclear distances matches Probe"

[2021-06-01 18:42] #122 closed, assigned to Joymaker

[2021-06-01 19:18] russell-taylor commented on #135
Leave the DNA part for "if there is time" future work.

[2021-06-03 18:18] russell-taylor opened #139 "Bring up what happened to some of dihedral angles in the PDB files with Christopher"

[2021-06-03 18:18] russell-taylor opened #140 "Suiteness should be highest closest to the center and zero at the edge; verify this"

[2021-06-03 18:29] russell-taylor opened #141 "PDB + CCTBX/SuiteName avoiding Dangle"
Consider replacing the whole dangle/suitename workflow inside the PDB, not just the SuiteName part.

Find out how the PDB folks are are doing it now and propose a drop-in replacement.
- See how MolProbity does it, it is probably similar.
- Should use Ken's new approach that can compute dihedral angles without having to build restraints.

[2021-06-03 18:31] russell-taylor opened #142 "Make a dihedral calculator that bases things on atom names within a residue"
Look for O2' and the proper atoms in RNA in any residue and claim that is an RNA

Do the conformers separately -- have it just pick one of them that matches the one asked for or the first one as it already does now.

We'll need to figure out what to do about multiple models.  As a first pass, it should read the first model in the file by default and have a command-line option to select a model.  W

[2021-06-03 18:34] russell-taylor commented on #133
See https://github.com/ReliaSolve/Molprobity2/issues/142 for an approach

[2021-06-03 18:35] russell-taylor commented on #130
We'll add this if there is time.

[2021-06-07 18:43] russell-taylor commented on #129
Both the electron-cloud and neutron distances were 1.70, so switched both to 1.65 in the CCTBX Reduce code that duplicates in Python the C++ code.

[2021-06-07 20:00] russell-taylor commented on #129
Modified this in the ReliaSolve Reduce master, upgrading the version number to 4.8 and did a pull request into the rlabduke repository.  Asked them when it is ready to merge.

[2021-06-08 13:19] russell-taylor commented on #132
MolProbity does the following to get the intermediate file from a model file to send to SuiteName:
`mmtbx.mp_geo rna_backbone=True F:/data/Richardsons/4z4d.cif`

[2021-06-08 13:20] russell-taylor commented on #132
It then runs the following, piping the output of the above into this command, to get the results:
`phenix.suitename -string -oneline -pointIDfields 7 -altIDfield 6`
It pipes the output to
`fold -w 60`

[2021-06-08 13:30] russell-taylor commented on #132
The complete report from this molecule (click on the summary graph) shows Mol 2 chain B analyzed 18/21 and 3 D 7/11 with no RNA backbone outliers and no RNA pucker outliers.  Its summary score was 0.69.

[2021-06-08 13:35] russell-taylor commented on #132
When running the original SuiteName with -report rather than -string, we get "For all 25 suites: average suiteness== 0.687 (power==3.00)", which is consistent with the 0.69 value reported above.

[2021-06-08 13:36] #132 closed, assigned to russell-taylor

[2021-06-08 13:42] russell-taylor commented on #133
**@todo:** Find a way to programmatically or hand-sampled check the results against the "RNA backbone" summary numbers and the list of outliers in the text report obtained by clicking on the summary image.

[2021-06-08 13:49] russell-taylor commented on #136
Duplicate of https://github.com/ReliaSolve/Molprobity2/issues/116

[2021-06-08 13:49] #136 closed, assigned to Joymaker

[2021-06-08 19:03] russell-taylor commented on #139
Nobody remembers what this was about

[2021-06-08 19:03] #139 closed, assigned to Joymaker

[2021-06-09 18:21] russell-taylor opened #143 "Reduce/CCTBX: Consider keeping unexpected hydrogens"
Consider keeping unexpected Hydrogens on structures where we're stripping and re-adding

[2021-06-09 18:25] russell-taylor commented on #119
The PDB has a Phenix installation, so we can make the system robust for them early on

[2021-06-09 18:27] russell-taylor opened #144 "Add command-line argument so that probe and reduce can be stricter for Phenix case"
If we accept broad classes of input or running on unknown ligands, this will not be what everyone wants.  Make a command-line argument that turns on this laxer parsing.

[2021-06-09 18:35] russell-taylor commented on #119
(done) Handle OXT, which is at the the C terminal of the protein chain (happens in 4z4d and others).  Nigel says that when the lookup fails when we can find it by looking it up in the geometry restraints manager.  It is in the geostd data.  If I can't get this to work, send him a short reproduction code and we can figure it out.

6/11/2021: Asked Nigel about how to get the info from the restraints

[2021-06-09 18:38] russell-taylor opened #145 "Enable the user to specify restraints (ligand) files for Probe and Reduce"
The Program Template can be told that it can accept restraints files in addition to data files.  When this is done, the user can specify them on the command line and they will be added to the ones used to parse the program.

[2021-06-09 18:43] russell-taylor opened #146 "Avoiding 'Sorry' messages and continuing to parse the files"
Dorothee did something to avoid the Sorry when she built the restraints
- There is an option stop_for_unknowns or something -- set to False
- The lookup will then needs to check to ensure that the residue was loaded

Do continue to report in the log that things are not found so that people will know about them.

See also https://github.com/ReliaSolve/Molprobity2/issues/144 to support stricter hand

[2021-06-09 18:43] russell-taylor commented on #146
This should be done in both Probe and Reduce.

[2021-06-09 18:52] russell-taylor opened #147 "Think about how to handle the coming 4-letter residue names in input files for Probe, Reduce, SuiteName"
Deal with the internal tables we're using and such

[2021-06-09 18:57] russell-taylor commented on #119
See if METALIC_ATOM has some sort of different radius treatment:
- AtomPositions.cpp::manageMetals() uses vdwRad() which uses explRad() which is the same as other atoms, and
- reduce.cpp calls it.
- The flip-checking code calls covRad() to determine N-metal bonding, so is not treating them differently.
- **The entries for METALIC_ATOM are treated the same as the others in terms of what the radii a

[2021-06-09 19:00] russell-taylor opened #148 "Spell arsenic correctly in ElementInfo.cpp and the new Reduce (and Probe)"

[2021-06-09 19:07] russell-taylor opened #149 "Updates to how SuiteName handles 1-letter codes for Thymine and Y"
SuiteName should treat Thymines as DNA.
- See the code changes made during the meeting

Question about how to handle 'Y':
- Needs to only do this for Y's
- See the code changes made during the discussion

[2021-06-09 19:17] russell-taylor commented on #148
It was not in the original Probe source files.  Modified in the new Probe.

Will modify in Reduce once we have figure out how to handle the C=O merge.

[2021-06-09 20:34] russell-taylor opened #150 "Run SuiteName against the PDB and compare suiteness"
Find a way to programmatically or hand-sampled check the results against the "RNA backbone" summary numbers and the list of outliers in the text report obtained by clicking on the summary image.

If we download the validation data in XML format from the PDB, then we can look for the tag RNAsuiteness="0.88" (for file 402d, not all files have this entry?). To mirror the .xml.gz files:
rsync -rlpt -v

[2021-06-09 20:50] russell-taylor commented on #150
Repository https://github.com/ReliaSolve/suitename_regression has the initial commit for this that can pull down all mmCIF and validation XML records and extract the RNAsuiteness value from those that have them.

[2021-06-09 21:16] russell-taylor commented on #150
See https://github.com/ReliaSolve/Molprobity2/issues/132 for info on how to get the info from each source.

[2021-06-09 21:21] russell-taylor commented on #150
(done) Must handle bogus unit cells on the input.

Dorothee taught me how to fix that on my code by inserting the following snippet between getting the model and interpreting the model:

[code]

The exception in mp_geo comes inside the call to pdb_interpretation.process(), and there is yet not a model to adjust.

Asked Christopher for advice on how to proceed and will try replacing the process() c

[2021-06-09 21:46] russell-taylor commented on #150
The current script displays the two values, one to three significant digits.  There is often a lot of difference between the two so we'll need to take a closer look before we automate the comparison.

[2021-06-10 13:37] russell-taylor opened #151 "Report incorrect DT C7 radius to CCTBX"
One case that came up during the study of Probe vs. CCTBX was the radius of the C7 atom in DT.  The Richardsons think that it should not be 1.75, it should be 1.70; it is not Aromatic, though part of the ring -- it is the Methyl Carbon on the Thymine.  C2 and C4-C6 are Aromatic.

This is tagged as 1.75 in CCTBX currently.

[2021-06-10 13:38] russell-taylor commented on #151
They asked for example code to reproduce this issue so they will know where to fix it.  Putting together a small script to do that.

[2021-06-10 14:31] russell-taylor commented on #151
Aha -- the problem is that C7 is not recognized as a DT atom so my matching program remaps it to C2 which has an incorrect radius.

[2021-06-10 14:37] russell-taylor commented on #151
Asked Nigel whether the missing C7 is going to be added during his current planned set of updates or whether it is a new change to be tracked.

[2021-06-10 15:59] russell-taylor commented on #150
The zero scores we were seeing were the result of mp_geo failing with unit cell issues.

Many of the others round to the same value with two significant digits, but others are off by up to 0.07 when rounded (2awq) or 0.15 (2awe).

[2021-06-10 16:31] russell-taylor commented on #150
The printf we're using for rounding does Banker's rounding, so gets the wrong answer for 0.5 sometimes.  We'll want to switch to a bc -l call that compares two numbers to see if they are larger than 0.5 different when comparing difference magnitude.

[2021-06-10 17:22] russell-taylor commented on #150
**@todo:** Different kind of error:
[code]

When I run iotbx.cif_as_pdb on this file, it reports an error that "Invalid unit cell parameters are given", so maybe the root cause of this is the same and the fix to the unit cell will repair this problem as well.

[2021-06-10 17:23] russell-taylor commented on #150
**@todo:** Look into numeric differences found in files that run properly.

There is not an alternate field from the SuiteName output that has a value that matches the one from the PDB.

Given the close numbers, it seems plausible that many of the PDB is using a different number of suites and thus getting a different average score.  However, some are very different (0.08 vs. 0.229 for 6do9).

[2021-06-10 18:56] russell-taylor commented on #151
Just to be annoying, the old/new name is C5M/C7. It will be part of the revision.

[2021-06-10 19:05] #151 closed, assigned to russell-taylor

[2021-06-10 19:07] russell-taylor commented on #150
**@todo:** Different error: Sorry: number of groups of duplicate atom labels: 22331
in 6n1d

We can run iotbx.cif_as_pdb on this file and it produces a PDB file.  We get the same error above when we run mmtbx.mp_geo on the PDB file.  Running iotbx.pdb.box_around_molecule does not complain, but it also does not fix the problem.

[2021-06-10 20:51] russell-taylor commented on #150
Christopher has a different script at https://github.com/rlabduke/rna_precis/blob/main/rna_scripts/rna_suite_parameters.py that may be more robust.  It is also possible that the PDB is still using dangle to generate its suites, so we can give that a try as well.  **@todo:** When I convert 6gc0 to a PDB file using iotbx.cif_as_pdb and then run it through a version of Christopher's program that has

[2021-06-10 21:11] russell-taylor commented on #150
**@todo:** Another kind of Sorry: "Conflicting angle restraints"

[2021-06-11 15:03] russell-taylor commented on #141
Christopher pointed out that dangle and mp_geo are the only ways that existed to get these numbers, that he was pretty sure that the PDB was using mp_geo, and that there were changes made to CCTBX since March 2020 that have made it more restrictive, so that they are probably using an older version of mp_geo to generate their suites.

[2021-06-14 17:33] russell-taylor commented on #150
The PDB validation report lists the version of Molprobity being used as 4.02b-467 and lists its properties as "num_bonds_rmsz,angle-outlier,RNAsuite,RNAsuiteness,RestypesNotcheckedForBondAngleGeometry,num_angles_rmsz,bonds_rmsz,RNAscore,angles_rmsz,bond-outlier,clashscore,num-H-reduce,clash"  There is a molbprobity_4.2 branch, which can be checked out whose latest commit was in 2015.  That version

[2021-06-14 18:02] russell-taylor commented on #150
**@todo:** The XML validation report lists mogul_rmsz_numangles as 8, which may match the number of analyzed suites in the PDB table, and mogul_rmsz_numbonds as 9, which may match the number of analyzed nucleotides?  Nope: these are 14 and 15 in 2vnu XML but 8 and 10 in its PDB

[2021-06-14 20:18] russell-taylor commented on #150
Trying Ken's myangle.py script to see if we could get it to generate good angles for us, but it is crashing.  It is in ~/rlab/cctbx_reliasolve on my home server.

He fixed the crash and I modified it to read directly from the CIF file to avoid another problem with it not reading from standard input.  It is getting some failures (presumably due to it not yet handling alternate conformations) and so

[2021-06-15 13:16] russell-taylor commented on #123
(done) The new report format is slightly different

Old format, no space before ==:

For all 0 suites: average suiteness== 0.000 (power==3.00)

New format, space before == and missing power clause:

For all 65 suites: average suiteness == 0.658

[2021-06-15 13:17] russell-taylor commented on #123
(done) The new version doesn't support the MolProbity workflow

`phenix.suitename -report -pointIDfields 7 -altIDfield 6 < infile`

Errors:
Sorry: Some PHIL parameters are not recognized by suitename.
 Please run this program with the --show-defaults option to see what parameters
are available.
 PHIL parameters in files should be fully specified (e.g. "output.overwrite"
instead of just "overwrite"

[2021-06-15 13:28] russell-taylor commented on #119
(done) Also verify that the covalent radii are the same.  Problem: ener_lib does not record the covalent radii for atoms, so we'd need to get them from yet another place inside CCTBX if we need them.  We don't need them for Probe calculations but will need to find a way to infer them to look for bonding of flip Nitrogens to metals -- we'll presumably need to add a fixed offset to the ion_radius fo

[2021-06-16 17:52] russell-taylor commented on #150
Christopher was able to run 1hhx.pdb through mmtbx.mp_geo without any errors.  When I run the PDB file (as opposed to the CIF file), I also get no errors.  Okay, it looks like the problem is with CIF files being somehow different than the corresponding PDB file in a way that breaks things.

(nope) Try reading the PDB files (which are not always available?) instead of the CIF files for each molecul

[2021-06-16 18:38] Joymaker commented on #150
Should I try CIF files on Suitename?  I haven't, yet.
On 6/16/2021 1:52:49 PM, Russell Taylor ***@***.***> wrote:
Christopher was able to run 1hhx.pdb through mmtbx.mp_geo without any errors. When I run the PDB file (as opposed to the CIF file), I also get no errors. Okay, it looks like the problem is with CIF files being somehow different than the corresponding PDB file in a way that breaks thing

[2021-06-16 18:39] russell-taylor commented on #150
@Joymaker  You can leave it up to me to test these.

[2021-06-16 19:53] russell-taylor opened #152 "Metallic atoms in Probe and Reduce have incorrect radii"
The smaller value should be covalent.  Only METALIC_ATOM ones have larger covalent radii in the tables.  The covalent value in Probe/Reduce is close to the VDW value from CCTBX.  It looks like they have gotten flipped.

[2021-06-16 19:55] russell-taylor commented on #152
See if METALIC_ATOM has some sort of different radius treatment:
- AtomPositions.cpp::manageMetals() uses vdwRad() which uses explRad() which is the same as other atoms, and
- reduce.cpp calls it.
- The flip-checking code calls covRad() to determine N-metal bonding, so is not treating them differently.
- **The entries for METALIC_ATOM are treated the same as the others in terms of what the radii a

[2021-06-16 20:00] russell-taylor commented on #152
Done:
- Swap the radii in the tables in Probe
- (nothing to do) Turn back on interactions between metals and hydrogens in Probe (there is a specific exclusion for metals in the probe code in Reduce that depends on finding the METALIC property, but there does not seem to actually be a similar one in Probe).
- Run on 2sod,1rxn,1cpv, 5a1a, 1pu0, 3kyu, 5cpv, 6hhm with old and new approaches for Richar

[2021-06-16 20:09] russell-taylor commented on #150
**@todo:** See if the source code for the PDB processes are published, which would be a way for us to find out how they are computing the values in the validation reports.

[2021-06-21 13:05] russell-taylor commented on #140
This is working closely enough with how it did in the past and getting correct answers for most cases, so must be working this way.

[2021-06-21 13:05] #140 closed, assigned to Joymaker

[2021-06-21 13:13] russell-taylor commented on #150
Putting this on the back burner until we hear back from the PDB and until we've completed porting SuiteName, Probe, and Reduce.

[2021-06-21 13:14] russell-taylor commented on #141
Putting this on the back burner until we hear from the PDB and complete porting Reduce and Probe.

[2021-06-21 13:15] russell-taylor commented on #137
@Joymaker Please check and close this issue.

[2021-06-21 13:16] russell-taylor commented on #133
Moving this to the back burner until we hear from the PDB and have completed Probe and Reduce.  We'll make SuiteName produce the same output as the previous version and not try and integrate with PDB until then.

[2021-06-21 13:17] russell-taylor commented on #116
@Joymaker Please address and close this issue.

[2021-06-22 13:31] russell-taylor commented on #133
**@todo:** See if the source code for the PDB processes are published so that we can determine what they are running.

[2021-06-22 15:10] Joymaker commented on #137
Standardized at 7.

[2021-06-22 15:10] #137 closed, assigned to Joymaker

[2021-06-22 17:58] Joymaker commented on #116
Depended upon fully solving the problem of computing dihedral angles from PDB files without the restraints manager.  Done.  Conformer A perfectly matches the output of the old C code.  (Conformer B could not be got through the old C code with tools in hand.)

[2021-06-22 17:58] #116 closed, assigned to Joymaker

[2021-06-23 20:21] Joymaker commented on #142
Okay, so I have a dihedral calculator that works from a limited set of atom names. Probably could be readily generalized to the purpose indicated here. Let's talk and flesh out what we need.

[2021-06-23 20:23] Joymaker commented on #135
Have we superseded this? For Suitename at least, we don't need restraints at all anymore. Or is this actually relevant to Probe as well?

[2021-06-23 20:34] russell-taylor commented on #135
This is superseded by https://github.com/ReliaSolve/Molprobity2/issues/142

[2021-06-23 20:34] #135 closed, assigned to Joymaker

[2021-06-23 20:36] russell-taylor commented on #142
This issue was intended to be the front end for the CCTBX SuiteName PDB reader, so the issue should be closed once you have it working for that purpose.  We don't need a general one for now.

We will want unit tests, of course, to ensure that it works for different orientations and any special cases.

[2021-06-24 13:12] russell-taylor commented on #152
This will require a new approach to get correct, including pulling the metallic ions out into their own table.  Will consider redoing this once we have a plan for how to proceed.

[2021-06-24 13:26] russell-taylor commented on #119
(done) Consider how to handle radii for metallic atoms.  CCTBX reports both VDW and ionic radii.  The tables inside Probe and CCTBX flip these; the ionic radius is listed as the VDW and the VDW as the "Covalent" (this radius doesn't exist for ions).  Heavily comment these swaps and decide how to properly fill things in from the CCTBX. Consider correcting the radius names and perhaps using a differ

[2021-06-25 19:42] Joymaker commented on #142
Working, and handling partially-alt-conformer residues correctly.

[2021-06-25 19:42] #142 closed, assigned to Joymaker

[2021-06-29 15:33] russell-taylor commented on #96
At least the dualparse.py file has "Richardson Lab" rather than "Richardson Lab at Duke University".  Please change all of them to the proper name.

[2021-06-29 15:39] russell-taylor commented on #121
There is no way to work around the main() routine to get access to these parameters because they are returned by a parser that is constructed using the Program as a parameter and then stored internally in whatever data structure the program decides to put them into.

[2021-06-29 15:49] russell-taylor commented on #121
Because there are a number of different object types within Reduce (Movers, InteractionGraphs, etc.) in different Python files, there is not an overall Reduce class that can have the parameters used to construct it.

This requires passing the options into every class or functions if we want to enable different instances to be running with different options from within the same program.

[2021-06-29 16:02] russell-taylor commented on #121
Some of the options are in fact Probe options (probe radius) rather than Reduce options.  Do we transcode them?  Do we pass the superset of all Phil options in?  Do we make our own intermediate MolProbity options and put all of the options into there across the entire set of tools?

[2021-06-29 18:09] #96 closed, assigned to russell-taylor, Joymaker

[2021-07-01 16:15] russell-taylor commented on #121
Phil parameters are meant to support a single program, not necessarily to provide a consistent set of commands across programs.  They can handle complex nested structures and multiple instances of options, along with defaults for each.

[2021-07-01 17:52] russell-taylor commented on #121
We'll not use them in Probe or Reduce, just pass optional specific arguments to functions.  The confusion of a vague interface and the threading problems with global variables make each of the solutions suboptimal.

[2021-07-01 19:22] russell-taylor commented on #121
Removed these from Probe and reduce library functions -- we'll use Phil parameters in the application but not the library.

[2021-07-01 19:22] #121 closed, assigned to russell-taylor

[2021-07-07 10:35] Joymaker commented on #124
Duplicate of #67?  I think the icebox was our decision.

[2021-07-07 12:12] russell-taylor commented on #124
Not a duplicate; this one is all three output formats, that one is all alternate conformations.

[2021-07-14 17:58] russell-taylor opened #153 "Verify that current Reduce only removes both Histidine Hydrogens for two ionic bonds"
Jane thinks that the current code never tries removing a second hydrogen in the case where there is only one (perhaps by adding a penalty score for this).  She thinks that they never take off both Hydrodens unless there are two ions.

If the Histidine can flip, then it can either have one or two hydrogens but not zero. It tests two flip states and three protonation states.

Verify with code inspec

[2021-07-14 18:01] russell-taylor opened #154 "Move covalent and ionic tests for Movers inside Reduce"
Jane really thinks that Reduce should be doing all determination of whether we do not place hydrogens due to covalent or ionic bonding. She is concerned that Reduce will need to re-check the cases to see WHY each is missing and cannot trust the implicit fact that it is missing.

We want Hydrogenate to always add all of the potential Hydrogens associated with Movers and have the Reduce placement co

[2021-07-22 11:55] russell-taylor commented on #117
@Joymaker Go ahead and add the text that you sent to Dave and Jane as a triple-quotes string.  We'll change it once we hear back from them.

[2021-07-22 13:07] russell-taylor commented on #115
Switching this to use Nigel's new functions to get VDW and acceptor/donor resolved the OXT problem and also a number of other problems.

[2021-07-22 13:07] #115 closed, assigned to russell-taylor

[2021-07-22 13:09] russell-taylor commented on #138
This is being done in https://github.com/ReliaSolve/Molprobity2/issues/119

[2021-07-22 13:09] #138 closed, assigned to russell-taylor

[2021-07-22 13:10] russell-taylor commented on #103
Initial implementation of this is done.  Will adjust as needed.

[2021-07-22 13:10] #103 closed, assigned to russell-taylor

[2021-07-22 17:22] Joymaker commented on #117
I got something back from Jane, but unfortunately she used non-ASCII characters that turned into gibberish in transmission. I have asked her to clarify and shortly we should have the real text in place.

Ken

On 7/22/2021 7:55:17 AM, Russell Taylor ***@***.***> wrote:
@Joymaker [https://github.com/Joymaker] Go ahead and add the text that you sent to Dave and Jane as a triple-quotes string. We'll c

[2021-07-22 18:27] russell-taylor commented on #104
**@todo:** When we have a cylinder or other better accepter approach that avoids the edges, add the Histidine ring back as an acceptor.

[2021-07-22 22:28] #117 closed, assigned to Joymaker

[2021-07-23 15:12] russell-taylor commented on #153
There are entries for the no-hydrogen case listed at https://github.com/rlabduke/reduce/blob/master/reduce_src/FlipMemo.cpp#L165

However, these are only tried after extendOrientations() has been called and that never seems to be the case.  So indeed it never tries the doubly deprotenated case when doing flip checking.

Presumably it does not insert a flipMemo when there is an ionic bond, but it c

[2021-07-23 15:12] #153 closed, assigned to russell-taylor

[2021-07-28 17:40] russell-taylor commented on #152
As of July 2021, based on discussions with Michael Prisant the Richardsons have decided that the ionic radius should be used for all calculations, and the "covalent radius" hack of adding an offset should never be used.  The new Probe tables have been modified to have the same value in all radius columns.

[2021-07-28 17:43] russell-taylor commented on #152
**@todo:** The Probe code to compute VdW radius has been modified to always use the Probe values for metallic atoms (ions).  Once we have a method from Nigel to look up the ionic radii within CCTBX, we can swap that in for the metallic atoms; if CCTBX switches to returning the ionic radius as the VdW radius then we don't need to do anything special for metals and we can just use the VdW call for a

[2021-07-29 14:39] russell-taylor opened #155 "Differences in 6hhq"
String outputs differ:

[code]

Report outputs differ with the same extra block of text in the new.

Kinemage also has the block of text in the new.

[2021-07-29 14:49] russell-taylor opened #156 "Error computing suiteness on 4qln for any output type"
There are no suites in the file.  The original program string output has a single character (0x0a) in the output file and the report format has the following:

[code]

The dangle input file is completely empty (no characters).

[2021-07-29 15:54] Joymaker commented on #156
Here's a new one!  How did YOU produce a dangle file?

Sorry: Conflicting angle restraints:
  1. definition from: residue:   G%rna3p_pur, conformer "A"
  2. definition from: residue:   G%5*END, conformer "C"
  atoms:
    "ATOM    487  C6    G A  21 .*.     C  "
    "ATOM    481  N1    G A  21 .*.     N  "
    "ATOM    482  C2    G A  21 .*.     C  "

[2021-07-29 16:10] russell-taylor commented on #156
Mine presumably crashes too, which explains why the input dangle file is completely empty.  The old code handles that empty input file and spits out the above report.  The new code says no residues on standard error and produces no output.

I guess it makes sense to produce no output for no input, but it looks like the code is still returning an error code in this code path.  I think the PDB and C

[2021-07-29 17:33] russell-taylor commented on #156
On second thought, we want the empty input file to produce the same output file with the information table with its 0 information so that we don't break a general workflow that always parses for those outputs.

Given that, the CIF and PDB file readers should behave the same on inputs that have no RNA/DNA, spitting out the same table with 0 information.

[2021-07-29 21:22] Joymaker commented on #156
4Q1N if viewed on the PDB website does NOT show an RNA backbone score at all. What is it doing in our sample?

My complaint about mp_geo was misguided, based on a typo, I was reading and typing (lowercase) 4QLN.

[2021-07-29 21:22] Joymaker commented on #155
An obscure bear trap in the code that I thought I had closed. Sorry about that!

[2021-07-29 21:22] #155 closed, assigned to Joymaker

[2021-07-30 12:26] russell-taylor commented on #156
It is there because it has an RNA Backbone measure in the PDB file.  You can see that as the last row on the summary validation graph on https://www.rcsb.org/structure/4QLN

[2021-07-30 12:29] russell-taylor commented on #156
However, the problem as stated is that the new program produces empty output on an empty .dangle file whereas the original produces a report that has values of 0 in it.  That's the issue that should be addressed.

Separately, I need to see why mp_geo is failing on this test file (turns out to be a Sorry based on conflicting angle restraints).

[2021-07-30 12:42] russell-taylor opened #157 "Different numbers of suites for 3cma in -report format"
[code]

[2021-07-30 19:40] Joymaker commented on #156
Done. I write a warning message to stderr (not stdout) and produce output that matches the former behavior.

At the moment a CIF or PDB input file that contains no RNA residues produces a warning message and empty output. Are we happy with that?

[2021-07-30 19:42] #156 closed, assigned to Joymaker

[2021-07-30 20:09] russell-taylor commented on #156
The behavior of the system when reading PDB and CIF files is new, so it does not necessarily have to match the existing behavior.  I would prefer that it send the same kind of report it would have when run on dangle output, but it is not worth an hour of time changing.  It would be worth ten minutes.

[2021-07-31 12:28] russell-taylor commented on #157
It sounds from @Joymaker like these are corner cases that get rounded differently, possibly due to single- vs. double-precision floating point.  We'll ignore them for now.

[2021-08-03 13:24] #157 closed, assigned to Joymaker

[2021-08-16 13:37] russell-taylor commented on #133
We're removing this restriction from SuiteName.

[2021-08-16 13:37] #133 closed, assigned to russell-taylor

[2021-08-16 14:52] russell-taylor commented on #123
(done) Do the pull request into master on cctbx and let Billy know to run his full suite of tests before merging.

[2021-08-16 19:53] russell-taylor commented on #119
**@todo:** New plan: do not try and fall back from CCTBX markings for Probe when we cannot load a file, simply fail to load that file.

**@todo:** Given that, add an optional command-line argument to original Reduce to dump the atom information along with radii and flags for each atom when it has completed processing (we can control the processing with the exiting command-line arguments).  Add a s

[2021-08-18 15:51] russell-taylor commented on #15
**@todo:** We can use Probe scores to compare old and new Reduce, initially using the old probe scores for both cases (apples to apples):
- Overall clash score: MolProbity reports this, so can find these arguments in there.  Look at the -c (count) option, which could in theory be run on the whole structure; it hasn't been run that way
- Look at scores for the ligands; clash, VdW and H-bond
- Flipk

[2021-08-19 12:49] russell-taylor commented on #119
The table of radii and donor/acceptor values is found in modules/chem_data/mon_lib/ener_lib.cif on the Phenix install.

[2021-08-23 18:21] russell-taylor commented on #141
Ken added direct parsing of PDB and CIF files to the new version.

[2021-08-23 18:21] #141 closed, assigned to russell-taylor

[2021-08-23 18:22] #149 closed, assigned to Joymaker

[2021-08-23 18:22] #100 closed, assigned to Joymaker

[2021-08-24 15:32] russell-taylor opened #158 "SuiteName Python 2.7 regression tests fail to run"
The program fails when we run compare.sh because it cannot handle the command-line parsing.  It works with Python 3.6.  It looks like it has never worked for 2.7, but apparently this is not caught in the FullTest.py program?

taylorr@reliasolve-3:~/src/suitename_regression$ phenix.suitename -report 19387.cif
Sorry: The following arguments are not recognized:
  etatheta=False
  nosequence=False
  n

[2021-08-24 15:34] russell-taylor commented on #158
Once this is fixed, add a true regression test somewhere that actually tries running the program.  See how CCTBX does this for other programs.

[2021-08-24 18:07] russell-taylor commented on #158
The problem is that unicode literals was turned on, which caused problems with the parser that was expecting strings.

When we remove the unicode future import, we get problems with the UnitTest code, which tries to pass a StringIO object to be filled in, but it gets filled in with strings on Python 2 and that doesn't work because it only wants unicode.  Casting to unicode will presumably fail in

[2021-08-24 18:42] russell-taylor commented on #158
Figure out how to add a regression test to that we know you can run the program.

[2021-08-24 19:23] Joymaker commented on #158
This landed in my inbox. Is that because you want my involvement, or is that just Zenhub running on autopilot?

Ken
On 8/24/2021 2:42:18 PM, Russell Taylor ***@***.***> wrote:
Figure out how to add a regression test to that we know you can run the program.
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub [https://github.com/ReliaSo

[2021-08-24 19:53] russell-taylor commented on #158
This is Github running on autopilot.  You can turn off notifications for issues that you are not named on in Github and it will stop sending them to you unless I assign you or "at" you.  This can be done on a per-repository basis.

[2021-08-25 12:32] #148 closed, assigned to russell-taylor

[2021-08-25 12:32] russell-taylor commented on #110
Done in SuiteName; we're going to use phil parameters in probe2 and reduce2

[2021-08-25 12:32] #110 closed, assigned to Joymaker

[2021-08-25 12:34] russell-taylor commented on #12
Used vertex cuts in the interaction graph rather than abstracting this as a hypergraph.  The boost graph library already included in CCTBX was sufficient for this.

[2021-08-25 12:34] #12 closed

[2021-08-25 12:35] #111 closed, assigned to russell-taylor

[2021-08-25 12:36] #64 closed, assigned to russell-taylor

[2021-08-25 12:38] #16 closed

[2021-08-25 12:40] russell-taylor commented on #123
Waiting on Billy to merge

[2021-08-26 13:08] russell-taylor opened #159 "Oxygens in waters as acceptors"
Oxygens in waters are not marked as acceptors in CCTBX.

**@todo:** Mark them as acceptors by hand in fixup in the getExtraAtomInfo().

**@todo:** Once CCTBX fixes this, remove the fixup.

[2021-08-26 13:53] russell-taylor commented on #159
False alarm; they are already marked as acceptors.  There was a bug in another part of the code that was falsely attributed here.

[2021-08-26 13:53] #159 closed, assigned to russell-taylor

[2021-08-26 19:03] russell-taylor opened #160 "Compare hydrogen placement between old and new probe"
On 1xso with the equivalent of `probe -kin -quiet -dumpatominfo "WATER" -DUMPH2O F:\data\Richardsons\1xso.pdb` the old code finds a few phantoms that the new does not.  The new finds many more than the old; this is in large part due to the 1.05 vs. 1.0 (1+1=2) radius that is used between the two codes.

[2021-08-26 19:31] russell-taylor commented on #160
There are two phantoms found by the old that are not found by the new.  Uncommenting the line in AtomTypes.py that adds the carbons in the Histidine back into the _AromaticTable doesn't change this.

[2021-08-26 19:47] russell-taylor commented on #160
It seems likely that this is because some of the atoms are not marked as acceptors in CCTBX that were in Probe.  Run ./compare.sh in new_reduce_regression to get a list of these for fragment files.

[2021-08-27 17:38] russell-taylor commented on #158
phenix_regression/validation/tst_suitename.py does this.  We can copy it and add the different input and output formats to snippets as tests.

[2021-08-31 17:06] russell-taylor commented on #84
Looking for the vertex cuts directly solved the problem.

[2021-08-31 17:06] #84 closed, assigned to russell-taylor

[2021-09-27 14:23] #123 closed, assigned to russell-taylor, Joymaker

[2021-09-27 14:28] #152 closed, assigned to russell-taylor

[2021-09-27 14:28] #129 closed, assigned to russell-taylor

[2021-09-27 14:29] #26 closed

[2021-10-04 17:27] #21 closed

[2021-10-04 17:28] russell-taylor commented on #22
Switched to CCTBX selection strings.

[2021-10-04 17:28] #22 closed

[2021-10-04 17:28] #25 closed

[2021-10-04 17:29] russell-taylor commented on #36
Probe2 has the faster implementation.

[2021-10-04 17:29] #36 closed

[2021-10-04 17:29] russell-taylor commented on #46
Reduce2 is in Python

[2021-10-04 17:29] #46 closed

[2021-10-04 17:31] russell-taylor commented on #120
Set to true by default in Probe2

[2021-10-04 17:31] #120 closed, assigned to Joymaker

[2021-10-04 17:35] #76 closed, assigned to russell-taylor

[2021-10-04 17:35] russell-taylor commented on #76
Leaving this to CCTBX folks.

[2021-10-04 17:39] russell-taylor commented on #33
Took a different approach to inserting Movers in Reduce2, back to first principles rather than porting existing code.

[2021-10-04 17:39] #33 closed

[2021-10-04 17:41] #62 closed

[2021-10-04 17:41] russell-taylor commented on #63
This is in Python in Probe2

[2021-10-04 17:41] #63 closed

[2021-10-04 17:44] #107 closed, assigned to russell-taylor, Joymaker

[2021-10-04 17:44] #128 closed, assigned to russell-taylor, Joymaker

[2021-10-05 18:39] russell-taylor commented on #119
**@todo:** In 1bti, the HOH 411 and 419 have B factors larger than 40.  This makes them be marked as 0 radius and not acceptors in the original.  This makes it show up as different in the new code; perhaps we should check for invalid flags in the new one and do similar things to make comparison easier.  In any case, we should verify that these are being skipped in the new code.

[2021-10-08 20:39] russell-taylor commented on #125
Rather than unit testing it, consider moving all of its functions into a CCTBX central location or into Helpers and getting rid of it.

[2021-10-19 21:22] russell-taylor opened #161 "Update the metallic/ionic nomenclature to get things correct"
Maybe metallic is irrelevant, but ionic is; with + and - ions being different groups.
Michael is working on figuring this out.  Once it is fixed, replace or augment the element_is_metallic() function.

[2021-10-22 15:27] russell-taylor opened #162 "Implement Reduce2"
Make this a Program Template program that is driven by Phil parameters.  Match the Probe2 probe Phil parameters when they apply to both.

[2021-10-22 15:27] russell-taylor opened #163 "Regression-test Reduce2"
(done) Add testing to tst_reduce.py.

[2021-10-22 15:28] russell-taylor commented on #162
(done) Leave the metalic atoms jumpered out in Reduce when computing the Probe score.

It may be that metallics are not jumpered out, just short-circuited for Histidine ahead of the Mover placement; check this.

Metals are added to an excluded points list in manageMetals(); the list is used to invalidate nearby atoms that overlap the metals during findCliques().  This looks like it probably avoids

[2021-10-22 15:28] russell-taylor commented on #162
The best score for each flipper when it was in the non preferred state is also recorded. Page 1746: can be run adding to put each flip in the non chosen state but everything else optimized to enable comparisons. It uses the header information from its previous output to determine which state to use.

[2021-10-22 15:29] russell-taylor commented on #163
(done) All metal bound groups and covalently modified groups have fixed orientations. (How to determine these?  Reduce does this by checking the distance against the sum of the VDW radii in **okToPlaceHydHere()** and seeing if it is too small.)

Note sent to Dorothee and Nigel: 	While chasing down the question of not adding hydrogens to Histidine and preferring flips that have one of the Nitrogens

[2021-10-22 15:30] russell-taylor commented on #162
(done) His61 in 1XSO has two metals so no hydrogen added. Good test case.

More test cases from Jane:

Two of the cases were already in the early H-bond addition tests:
- 3cp5 Cys 45 & Cys 48 to heme (HEC)
- 6vw1 Asn 90 ND2 to NAG C1 and NAG-to-NAG.

(other cases)
- O-linked carbohydrate:  3nk4 Thr 168 Og to A2G
- SS-bond half-open:  1pq7 Cys 41 to Cys 57, alta is SS bond, altB is open
- Aminoacyl

[2021-10-22 15:31] russell-taylor commented on #162
Page 1743 describes flagging ambiguous cases in the output.

[2021-10-22 15:33] russell-taylor opened #164 "Reduce on neutron structures with some known hydrogens"
Consider the case when someone with a neutron structure wants to put movers only where they don't know for sure if a hydrogen is located somewhere (not seen in the density). The ones they see in the density should not get moved. Some sort of Boolean flags telling per-residue whether to add a Mover. Not so -- ligands and carbohydrates can have more than one Mover. Maybe a Boolean per Hydrogen (or p

[2021-10-22 15:34] russell-taylor commented on #163
(done) 1otf is the largest clique found in the initial studies, with a size of 18. It should be our test case.

[2021-10-26 14:41] russell-taylor commented on #162
(done) Pull out the Probe parameters and their parsing into Helper functions that are used by both the Probe2 and Reduce2 programs.  Make it report a subset of the Phil parameters that gets included by each and that get parsed by wrapper Python constructors.

(done) Replace the PHIL-based parameters in the helper functions with a phil structure.

[2021-10-26 19:53] russell-taylor commented on #162
(done) Find out which command-line arguments MolProbity uses.

[2021-10-27 11:39] russell-taylor commented on #161
consider ionic_polarity() function that returns +1 for those currently marked metallic, -1 for those marked IONIC, and 0 for others.  Run this past Nigel and the Richardson team.

[2021-11-01 13:24] russell-taylor commented on #162
(done) From molprobity/doc/dev_notes/reduce_in_Molprobity.txt:
- (done) -quiet (done) -trim (done) -allalt
- (done) -nobuild9999
- (done) -build (done)-nuclear
- (done) -fix (used in the generation of flipkins)

From code inspection:
- (ignoring) -limit

[2021-11-01 14:09] russell-taylor commented on #162
**@todo:** Running reduce2 on 4fen.pdb has errors during optimization.

[2021-11-01 14:31] russell-taylor commented on #162
(done) Changing the preference magnitude from 1.0 to 9999.0 on 1xs0 produces the same results in either case.

The reported final states are different for some Movers, so it is not clear why the output models are the same... except that the output files have no hydrogens on them!  We were writing the original model, not the modified model, to disk.  Fixed.

[2021-11-01 14:51] russell-taylor commented on #162
(done) Run on all alternate conformations, finishing with the first conformation so non-alternate ones will end up matching alternate A.  Looks like this happens already in the singleton optimizer so may happen in all, remove comment from main code if that is the case and add the equivalent of -onlya in, letting them select an alternate.

We get a crash in the second ("A) alternate of 1xs0 when we

[2021-11-01 17:52] russell-taylor opened #165 "Running reduce2 on 4fen.pdb has errors during optimization."
Added a raise when this happens so I could get a stack trace:

[code]

[2021-11-01 17:54] russell-taylor commented on #165
These do not stop the processing, but they presumably are making is not place a Mover.

We get a lot of copies of the following:
[code]

[2021-11-01 18:20] russell-taylor opened #166 "Make Histidine behave like it used to, checking double deprotenation with a -1 bias"

[2021-11-01 18:32] russell-taylor opened #167 "Add a description of the 4 not working unless there is a hydrogen (based on the other parameter) and clarify in -4H"

[2021-11-01 18:32] russell-taylor opened #168 "Add a debugging feature in Probe to keep the phantom hydrogen markers for those that end up actually making contacts"

[2021-11-02 18:02] russell-taylor commented on #161
Asked them about this:

After review, the plan from the Richardson lab is to replace the "metallic" designation with an "ionic" designation, which can have either a positive or a negative polarity.

To support this, I propose to replace the recently-added element_is_metallic() method defined in iotbx/pdb/hierarchy.h with a new method named ionic_polarity().  This method will return +1 for all atom

[2021-11-02 18:14] russell-taylor commented on #167
Added in 735a8958c08c0842525e72d894f0e3416a2a98ee

[2021-11-02 18:14] #167 closed, assigned to russell-taylor

[2021-11-02 18:19] russell-taylor commented on #13
These were not added in Reduce2

[2021-11-02 18:19] #13 closed

[2021-11-02 18:23] russell-taylor commented on #44
Added in CCTBX code.

[2021-11-02 18:23] #44 closed

[2021-11-02 18:23] russell-taylor commented on #30
Not needed in Python code for Reduce2

[2021-11-02 18:23] #30 closed

[2021-11-02 18:24] russell-taylor commented on #55
Probe2 implemented as a library that is called from an executable.  Other executables can also call the library functions.

[2021-11-02 18:24] #55 closed

[2021-11-02 18:25] russell-taylor commented on #88
Decided and implemented.

[2021-11-02 18:25] #88 closed, assigned to russell-taylor

[2021-11-02 18:27] #50 closed

[2021-11-02 18:28] #9 closed

[2021-11-02 18:35] #146 closed, assigned to russell-taylor

[2021-11-03 13:31] russell-taylor commented on #166
Added in molprobity2-debug branch, awaiting merge.

[2021-11-08 14:52] #166 closed, assigned to russell-taylor

[2021-11-08 14:54] russell-taylor commented on #161
Nigel recommended making the function name more clear, so made element_is_positive_ion(), element_is_negative_ion() and element_is_ion().

Jane requested the removal of element_is_metallic(), so it was removed.

[2021-11-08 14:54] #161 closed, assigned to russell-taylor

[2021-11-08 15:05] russell-taylor commented on #162
(done) There is consideration of metals during placement that modifies biases for radius checks and other things.
- (done) reduce.cpp:1470: This is being used to lock down the conformation of asn,gln,asx,glx.
- (done) reduce.cpp:1523: Hydrogens that are marked with BONDBUMPFLAG (looks like all polar hydrogens) that would overlap with atoms are not placed and warnings are issued (different bias for

[2021-11-09 16:54] russell-taylor commented on #162
(done) Add ASX and GLX to the ASN and GLN residues that have HS2 flips.  Make sure that the flip code works in both cases (atom names and bonding) and then check for all four cases rather than just two in Optimizers.py in all places that we check.

The Mover code won't currently be able to handle atom type X when it is looking for neighbors and bonds.  1KP0 is an example structure with an ASX and

[2021-11-09 19:16] russell-taylor commented on #162
(done) Running `mmtbx.reduce2 F:\data\Richardsons\1xso.cif output.description_file_name=deleteme.txt add_flip_movers=True` now causes a crash when trying to write the model as an mmcif (though it can write the file as a PDB):

[code]

Re-processing the model without making restraints before making it into CIF seems to solve the problem.

[2021-11-11 21:48] russell-taylor commented on #162
(done) Do not remove the Hydrogen in the NH2 case when there is a nearby ion.  Instead, lock down the orientation (which is what the original code does).

If the NH2 has the Nitrogen pointing at an +ion, Jane expects it to flip rather than removing the Hydrogen.

[2021-11-11 21:52] russell-taylor commented on #162
**@todo:** Behavior of polar and non-polar Hydrogen addition checks. reduce.cpp:1523
- There should definitely be code to check what happens with non-polar Hydrogens.
    - Reduce currently leaves off the Hydrogen for ions (which is a mistake): 5a1a has ligand that gets too close to an ion.  It should instead put it on and call it a clash.
    - Reduce2 should always have these be placed when ther

[2021-11-16 15:54] russell-taylor opened #169 "Check both orientations and lock the non-Nitrogen atom towards a +ion of there is one near either atom."

[2021-11-16 15:59] russell-taylor opened #170 "Behavior of polar and non-polar Hydrogen addition checks"
reduce.cpp:1523
- There should definitely be code to check what happens with non-polar Hydrogens.
    - Reduce currently leaves off the Hydrogen for ions (which is a mistake): 5a1a has ligand that gets too close to an ion.  It should instead put it on and call it a clash.
    - Reduce2 should always have these be placed when there are positive ions or negative ions (this will check for clash)

[2021-11-29 14:08] russell-taylor opened #171 "Behavior of polar and non-polar Hydrogen addition checks."
reduce.cpp:1523
- There should definitely be code to check what happens with non-polar Hydrogens.
    - Reduce currently leaves off the Hydrogen for ions (which is a mistake): 5a1a has ligand that gets too close to an ion.  It should instead put it on and call it a clash.
    - Reduce2 should always have these be placed when there are positive ions or negative ions (this will check for clash)

[2021-11-29 14:08] russell-taylor opened #172 "Send Jane a list of what small snippets we would need to test each of the Movers and Probe"

[2021-11-29 14:09] russell-taylor opened #173 "Write a final report on the supplement and the additional work that is happening to finalize everything"

[2021-11-29 15:53] russell-taylor commented on #173
Draft sent to Richardsons.

[2021-12-09 14:40] russell-taylor commented on #162
(done) Reduce marks some (but not all) Water Oxygens as radius 0, no donor, no acceptor and marks others radius 1.40 with acceptor (but no donor?).  This differs from how Probe marks them, which is all acceptor+donor with radius 1.4.  We'll accept CCTBX's judgement on this.

[2021-12-15 16:05] #173 closed, assigned to russell-taylor

[2021-12-21 19:40] russell-taylor commented on #162
(moved) As of 12/21/2021, we are getting a lot of messages to the console of the form:
[code]

These happen when running `mmtbx.reduce2 output.description_file_name=4fen_new.txt F:\data\Richardsons\4fen.pdb`

We're getting corresponding notifications in the Reduce2 output: "Could not add MoverNH3Rotator to chain B NCO 109: MoverNH3Rotator(): Partner does not have three bonded friends"

Created iss

[2022-01-12 14:22] russell-taylor opened #174 "Reduce2 input file telling what flips to make and which way to make them"
MolProbity has a "Review flips" page that tells which flips to apply and which not.

It then re-runs Reduce, locking down those flips and otherwise optimizing.  It currently only does the renaming flip, but it should do the full fixup.

@chrissciwilliams Add notes here if there are other constraints that we need to be able to control (rotations of Movers, Histidine protenation states).

This will

[2022-01-12 14:26] russell-taylor opened #175 "Consider augmenting the mainchain selection in CCTBX to include bonded hydrogens"
Rather than using special-case code in Probe2, consider augmenting the backbone selection within CCTBX to include hydrogens when they are present (perhaps making it an option if it is not preferred in all circumstances.

[2022-03-01 15:39] russell-taylor commented on #172
**@todo:** Do this in the context of writing up a document that describes the unit tests on Probe2 and Reduce2 and argues for why we know they are working.

[2022-03-03 18:46] russell-taylor commented on #172
**@todo:** How to test the probe2 script functions and behavior?

[2022-06-02 21:23] russell-taylor commented on #174
I propose that the format of the file telling how to lock down individual Movers in Reduce be a subset of the format that the report is generated in, with the option to use the entire format so that someone can copy/paste it and then delete the lines for the Movers that they don't want to lock down, having Reduce adjust the rest.  I put an output for 1xso at the end and then discuss the subset of

[2022-06-02 21:24] russell-taylor commented on #174
**@todo:** The above format overspecifies the HIS state; it should only state whether or not to flip the Histidine and let Reduce2 decide whether to add each hydrogen (ensure that Reduce was doing this).

**@todo:** We do not need to be able to specify anything about the state of rotators.

Make a new plan that just tells whether to keep or to flip each flip that is in the model and does not allow

[2022-06-21 20:45] russell-taylor commented on #119
Ran Probe vs. Probe2 regression testing on a number of files.  Most of them produce the same results for all radii.  At least one is still different.  Some of the @todo above have been fixed along the way.

[2022-06-21 20:49] russell-taylor commented on #165
Fixed by reducing the number of things we compute so that we don't see the problem.

[2022-06-21 20:49] #165 closed, assigned to russell-taylor

[2022-06-21 20:51] russell-taylor commented on #125
Removed most of the code and added unit test for what remains.

[2022-06-21 20:51] #125 closed, assigned to russell-taylor

[2022-07-05 15:20] russell-taylor opened #176 "Fix the placed-hydrogen distance behavior"
(This will take effect once we try to change the original values of 1.0 for the call to getPhantomHydrogensFor in Probe2.  It is already broken in Reduce2.)

The placed HydrogenDistance should be less than 1 for both nuclear and e-cloud; this is the OH bond distance:
- 0.98 and 0.84

The H radius should be 1.00 for neutron or 1.05 for electron cloud

Have a look at the OH_BOND_LENGTH and see how t

[2022-07-05 15:24] russell-taylor commented on #176
(done) Fix in both Probe2 and Reduce2.  Consider using a Probe Phil parameter for this.
(done) Fix the test code.

[2022-07-05 18:46] #176 closed, assigned to russell-taylor

[2022-09-02 17:16] russell-taylor commented on #163
(done) Unit test the ability to set the flip bias so high they never happen (check both singleton and clique).